{% extends "base.html" %}


{% block head %}
	<script src="/static/js/highcharts/highcharts.js"></script>

{% endblock %}

{% block header %}<h4 class="header">
	{% if request.user.is_staff %}	<a href="/persone/">{% endif %}
		Persone e gruppi
	{% if request.user.is_staff %} </a> {% endif %}
		<i class="icon-angle-right"></i>
		Profilo di {{persona}}</h4>

{% endblock %}

{% block main %}

<div class="row-fluid">
	<div class="span7">
		<div class="box">
			<div class="box-header">
				<!-- <a href="/impostazioni/mansione/nuovo" class="pull-right btn"><i class="icon-edit"></i> modifica</a> -->
				<h5>Informazioni Anagrafiche</h5>
			</div>
			<div class="box-content">
				<table class="table table-striped no-more-tables">
					<thead>
					<tr>
						<th>Nome</th>
						<th>Cognome</th>
						<th>Data di nascita</th>
						<th>Indirizzo</th>
						<th>Telefono principale</th>
						<th>Telefono secondario</th>
						<th>Note</th>
					</tr>
					</thead>
					<tr>
						<td data-title="Nome">{{persona.nome}}</td>
						<td data-title="Cognome">{{persona.cognome}}</td>
						<td data-title="Nascita">{{persona.nascita}}</td>
						<td data-title="Indirizzo">{{persona.indirizzo}}</td>
						<td data-title="Tel. Principale">{{persona.tel1}}</td>
						<td data-title="tel. secondario">{{persona.tel2}}</td>
						<td data-title="Note">{{persona.note}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span7">
		<div class="box">
			<div class="box-header">
				<!-- <a href="/impostazioni/mansione/nuovo" class="pull-right btn"><i class="icon-edit"></i> modifica</a> -->
				<h5>Altre Informazioni</h5>
			</div>
			<div class="box-content">
				<table class="table table-striped no-more-tables">
					<thead>
					<tr>
						<th>Utente associato</th>
						<th>Stato</th>
						<th>Competenze</th>
					</tr>
					</thead>
					<tr>
						<td data-title="Utente">{{persona.user}}</td>
						<td data-title="Stato">{{persona.stato}}</td>
						<td data-title="Competenze">{% for mansione in persona.competenze.all %} 
						<span class="badge-mansione">{{mansione.descrizione}}</span>
						{% endfor %}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="row-fluid">
	<div class="span7">
		<div class="box">
			<div class="box-header">
				<!-- <a href="/impostazioni/mansione/nuovo" class="pull-right btn"><i class="icon-edit"></i> modifica</a> -->
				<h5>Statistiche</h5>
			</div>
			<div class="box-content">
				<div id="container-0" style="min-width: 200px; height: 400px; margin: 0 auto"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

$(function () {
        $('#container-0').highcharts({
            title: {
                text: 'Turni mensili'
            },
            xAxis: {
				type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%b \'%y',
                    year: '%Y'
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Turni'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Population',
                data: [
                    {% for x,y in turni %}
						[Date.UTC({{x|date:"Y,m,d"}}), {{y}} ],
					{% endfor%}
                ],
            }]
        });
    });
</script>

{% endblock %}
