{% extends "base.html" %}

{% block head %}
	<script src="/static/js/jquery.tablesorter.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets-filter-formatter.min.js"></script>
	<link href="/static/css/theme.bootstrap.css" rel="stylesheet">
	
{% endblock%}

{% block header %}
	{% if request.user.is_staff %}
		<h4 class="header">Persone e gruppi</h4>
		
	{% endif %}
{% endblock %}


{% block main %}

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
    	<li class="active"><a href="#tab1" data-toggle="tab">
    		<h5><i class="icon-user"></i> Persone</h5></a>
    	</li>
    	<li><a href="#tab2" data-toggle="tab">
    		<h5><i class="icon-group"></i> Gruppi</h5></a>
    	</li>
    </ul>
    <div class="tab-content">
    
	    <div class="tab-pane active" id="tab1">  	
	    	<div class="row-fluid">
				<div class="span7">
					<div class="row-fluid">
						<div class="span7">
							<div class="box">
								<div class="box-header">
									<div class="btn-group pull-right">
										<a href="/persone/nuovo" class="btn"><i class="icon-plus"> </i> Aggiungi persona</a>
										<a href="/persone/export" class="btn"><i class="icon-download"> </i> Esporta</a>
									</div>
									<h5><i class="icon-user"></i> Persone</h5>
								</div>
								<div class="box-content" id="tabella-persone">
									{% include "persone/tabella_persone.html" %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	    <div class="tab-pane" id="tab2">
	    	<div class="row-fluid">
				<div class="span7">
					<div class="box">
						<div class="box-header">
							<a href="/persone/gruppo/nuovo" class="btn pull-right"><i class="icon-plus"> </i> Aggiungi gruppo</a>
							<h5><i class="icon-group"></i> Gruppi</h5>
						</div>
						<div class="box-content">
							<table  class="table table-striped no-more-tables" >
							<thead><tr>
							<th>Nome</th><th>Note</th><th>Operazioni</th>
							</tr></thead>
							{% for gruppo in gruppi %}
								<tr id="gruppo-{{gruppo.id}}">
									<td data-title="Nome">{{gruppo}} ({{gruppo.numero_componenti}})</td>
									<td data-title="Note">{{gruppo.note}}
									</td>
									<td data-title="Operazioni">
										<div class="btn-group">
										  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
											<i class="icon-cog"></i> Azioni
											<span class="caret"></span>
										  </a>
										  <ul class="dropdown-menu">
											<li><a href="/persone/gruppo/modifica/{{gruppo.id}}"><i class="icon-edit"></i> modifica</a></li>
											<li><a href="#elimina-gruppo-{{gruppo.id}}" data-toggle="modal"><i class="icon-trash"></i> elimina</a></li>
										  </ul>
										</div>
									</td>
								</tr>
							{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>

			{% for gruppo in gruppi %}
			<div id="elimina-gruppo-{{gruppo.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-body">
					<div class="alert alert-error">
						<h5><i class="icon-warning-sign icon-2x"></i> Vuoi veramente eliminare il gruppo {{gruppo}}?</h5>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Annulla</button>
					<button class="btn btn-primary" data-dismiss="modal" onclick="$('#loading').removeClass('hidden'); Dajaxice.get2.calendario.elimina_gruppo(Dajax.process,{'gruppo_id':{{gruppo.id}}});">Elimina</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>






{% endblock %}
