{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} {{azione}} persona {% endblock %}

{% block head %}
	<link href="/static/css/datetimepicker.css" rel="stylesheet">
	<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/js/locales/bootstrap-datetimepicker.it.js"></script>
{% endblock%}

{% block header %}

		<h4 class="header"><a href="/persone/">Persone</a>
		<i class="icon-angle-right"></i>
		{{azione}} persona
{% endblock %}

{% block main %}
<script>
window.onload = function() 
{ 
	$(".dateinput").datetimepicker({format: 'dd/mm/yyyy',autoclose: true,minView:2,language: 'it'});
};
</script>

<div style="margin:10px;">

  {% crispy form %}

</div>
{% endblock %}
