# Django settings for get2 project.
import os
import sys

DEBUG = False
TEMPLATE_DEBUG = DEBUG

ALLOWED_HOSTS = ['localhost', '127.0.0.1','_titolo_.gestionaleturni.it']

PROJECT_ROOT = os.path.dirname(os.path.abspath(__file__))
# Name of the directory for the project.
PROJECT_DIRNAME = PROJECT_ROOT.split(os.sep)[-1]
print PROJECT_DIRNAME

ADMINS = (
    ('Matteo Lucchesi', 'matteo@luccalug.it'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', 
        'NAME': '_database_',
        'USER': '_user_', # Not used with sqlite3.
        'PASSWORD': '_password_', # Not used with sqlite3.
        'HOST': 'localhost', # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '', # Set to empty string for default. Not used with sqlite3.
    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# In a Windows environment this must be set to your system time zone.
TIME_ZONE = 'Europe/Rome'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'it-it'

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale.
USE_L10N = True

# If you set this to False, Django will not use timezone-aware datetimes.
USE_TZ = False

# Package/module name to import the root urlpatterns from for the project.
ROOT_URLCONF = "%s.urls" % PROJECT_DIRNAME

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = "/static/"

MEDIA_URL = STATIC_URL + "media/"

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = os.path.join(PROJECT_ROOT, STATIC_URL.strip("/"))

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
MEDIA_ROOT = os.path.join(PROJECT_ROOT, *MEDIA_URL.strip("/").split("/"))

# Additional locations of static files
STATICFILES_DIRS = (
    # Put strings here, like "/home/html/static" or "C:/www/django/static".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
)

# List of finder classes that know how to find static files in
# various locations.
STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder',
#   'django.contrib.staticfiles.finders.DefaultStorageFinder',
    'dajaxice.finders.DajaxiceFinder',
)

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'f*qw$afu*z1lkf^uho1jrjp3_)_cnw5i!yb=%dli5=k)wyf9*c'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
    'django.template.loaders.eggs.Loader',
)

TEMPLATE_CONTEXT_PROCESSORS = (
    'django.core.context_processors.request',
    'django.contrib.messages.context_processors.messages',
    'get2.calendario.context_processors.calendari',
    'get2.calendario.context_processors.notifiche_non_lette',
    'get2.calendario.context_processors.get_settings',
    )

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    # 'debug_toolbar.middleware.DebugToolbarMiddleware',
    # Uncomment the next line for simple clickjacking protection:
    # 'django.middleware.clickjacking.XFrameOptionsMiddleware',
)

# Python dotted path to the WSGI application used by Django's runserver.
WSGI_APPLICATION = 'get2.wsgi.application'

TEMPLATE_DIRS = (os.path.join(PROJECT_ROOT, "templates"),
                 )

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'south',
    'dajaxice',
    'dajax',
    'get2.calendario',
    'persone',
    'crispy_forms',
    #_toremove_'statistiche',
    #'gcm',
    #'debug_toolbar',
    # Uncomment the next line to enable the admin:
    # 'django.contrib.admin',
    # Uncomment the next line to enable admin documentation:
    # 'django.contrib.admindocs',
)

# A sample logging configuration. The only tangible logging
# performed by this configuration is to send an email to
# the site admins on every HTTP 500 error when DEBUG=False.
# See http://docs.djangoproject.com/en/dev/topics/logging for
# more details on how to customize your logging configuration.
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        }
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
    }
}

LOGIN_REDIRECT_URL="/"

AUTH_PROFILE_MODULE = 'persone.Persona'

INTERNAL_IPS = ('127.0.0.1',)

#EMAIL_USE_TLS = True #Or False - For gmail: True
#EMAIL_HOST = 'your_host.com' #For gmail: 'smtp.gmail.com'
#EMAIL_HOST_USER = 'your@email.com'
#EMAIL_HOST_PASSWORD = 'your_password'
#EMAIL_PORT = your_host_port #For gmail: 587

CRISPY_TEMPLATE_PACK = 'bootstrap' 

GET_TITOLO="_titolo_"

#Giorni disponibili per modificare una disponibilita da parte di una persona
GET_DISP_MIN=1
GET_DISP_MAX=60

GET_CANC_MIN=2
GET_CANC_MAX=0

GET_ID_ADMIN_NOTIFICHE=1

GET_NOTIFICA_ALL=False

GET_ANALYTICS="UA-1111111-1"
GET_DOMINIO="gestionaleturni.it"

GET_MAIL_NOTIFICA = "no@no.it"

SITE_ID = 1

GET_JS = ""

GET_TITOLO_COLOR="#084B8A"
GET_APP_NAME="GeT"
GET_SMS_ALIAS="GeT"
GET_LOGO=""
GET_FOOTER_SITE="www.gestionaleturni.it"
GET_FOOTER_MAIL="matteo@luccalug.it"
GET_FOOTER_DOC="documentazione.gestionaleturni.it"

GET_ACTIVATE_SMS=False
GET_SKEBBY_USERNAME=""
GET_SKEBBY_PASSWORD=""

GET_IGNORA_CONTEMPORANEI=False

GET_APP_NAME="GeT"
GET_SECURE_PASSWORD=True

GET_DISTINGUI_DIPENDENTI=False
GET_SOVRASCRIVI_PUNTEGGIO=False