
<ul class="nav nav-tabs" id="myTab">

                <li class="active" ><a href="#tabs-1" data-toggle="tab" >Turni effettuati</a></li>

</ul>

<div class="tab-content">

    <div class="tab-pane active" id="tabs-1">

	<div id="container-1" style="min-width: 200px; height: 400px; margin: 0 auto"></div>

		<script type="text/javascript">
		

		$(function () {
		        $('#container-1').highcharts({
		            chart: {
		                type: 'column',
		                margin: [ 50, 50, 100, 80],
                 		width: $('#tabs-1').width()
		            },
		            title: {
		                text: ''
		            },
		            xAxis: {
		                categories: [
		                    {% for p in persone|slice:":10" %}
								"{{p|safe|escape}}",
							{% endfor%}
		                ]
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Turni'
		                },
		                stackLabels: {
                    		enabled: true,
                    		style: {
                        		fontWeight: 'bold',
                        		color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    			}
                		}
		            },
		            legend: {
		                align: 'right',
		                x: -70,
		                verticalAlign: 'top',
		                y: 20,
		                floating: true,
		                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
		                borderColor: '#CCC',
		                borderWidth: 1,
		                shadow: false,
		                useHTML: true,
		            },
		            tooltip: {
		                formatter: function() {
		                    return '<b>'+ this.x +'</b><br/>'+
		                        this.series.name +': '+ this.y +'<br/>'+
		                        'Totale: '+ this.point.stackTotal;
		            	},
		            	useHTML: true,
		            },
		            plotOptions: {
		                column: {
		                    stacking: 'normal',
		                    dataLabels: {
		                        enabled: true,
		                        color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
		                    }
		                }
		            },
		            series: [

		            	{% for x,y in serie_tot_turni%}
		                	{
		                		name: "{{x.icon|safe}}",
			                	data:  {{y|slice:":10"}},
			                	color: '{{x.colore}}' },
		                    
						{% endfor%}
		                
		                
								
		            ]

		        });
		    });
		


		</script>

	</div>

	</div>
	

