<ul class="nav nav-tabs" id="myTab">
	{% for statistica in elenco_statistiche %}
		<li {%if forloop.first %} class="active" {% endif%}><a href="#tabs-{{ forloop.counter }}" data-toggle="tab" >{{statistica}}</a></li>
	{% endfor %}
</ul>

<div class="tab-content">
	{% for statistica,dati in dati %}

	<div class="tab-pane {%if forloop.first %} active{% endif%}" id="tabs-{{ forloop.counter }}">

	<div id="container-{{ forloop.counter }}" style="min-width: 200px; height: 400px; margin: 0 auto"></div>

	{% if statistica = "Turni totali" %}
		<script type="text/javascript">
		

		$(function () {
		        $('#container-{{ forloop.counter }}').highcharts({
		            chart: {
		                type: 'column',
		                margin: [ 50, 50, 100, 80]
		            },
		            title: {
		                text: ''
		            },
		            xAxis: {
		                categories: [
		                    {% for d in dati|slice:":10"%}
								"{{d|safe|escape}}",
							{% endfor%}
		                ],
		                labels: {
		                    rotation: -45,
		                    align: 'right',
		                    style: {
		                        fontSize: '13px',
		                        fontFamily: 'Verdana, sans-serif'
		                    }
		                }
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Turni'
		                },
		                stackLabels: {
                    		enabled: true,
                    		style: {
                        		fontWeight: 'bold',
                        		color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                    			}
                		}
		            },
		            legend: {
		                enabled: false
		            },
		            series: [{
		                name: 'Population',
		                data: [
		                    {% for d in dati|slice:":10"%}
								{{d.tot_turni}},
							{% endfor%}
		                ],
		                dataLabels: {
		                    enabled: true,
		                    rotation: -90,
		                    color: '#FFFFFF',
		                    align: 'right',
		                    x: 4,
		                    y: 10,
		                    style: {
		                        fontSize: '13px',
		                        fontFamily: 'Verdana, sans-serif'
		                    }
		                }
		            }]
		        });
		    });
		


		</script>
		<table class="table table-striped" >
		<thead>
		<tr>
		<th>Posizione</th><th>Persona</th><th>Turni effettuati</th>
		</tr></thead>
		{% for d in dati %}
		<tr>
		<td>{{forloop.counter}}</td><td>{{d|safe|escape}}</td><td>{{d.tot_turni}}</td>
		</tr>
		{% endfor%}
		</table>
	{% endif %}

	{% if statistica = "Punteggi totali" %}

		<script type="text/javascript">			
			$(function () {
		        $('#container-{{ forloop.counter }}').highcharts({
		            chart: {
		                type: 'column',
		                margin: [ 50, 50, 100, 80],
		                width: $('#tabs-1').width()
		            },
		            title: {
		                text: ''
		            },
		            xAxis: {
		                categories: [
		                    {% for d in dati|slice:":10"%}
								"{{d|safe|escape}}",
							{% endfor %}
		                ],
		                labels: {
		                    rotation: -45,
		                    align: 'right',
		                    style: {
		                        fontSize: '13px',
		                        fontFamily: 'Verdana, sans-serif'
		                    }
		                }
		            },
		            yAxis: {
		                min: 0,
		                title: {
		                    text: 'Punti'
		                }
		            },
		            legend: {
		                enabled: false
		            },
		            series: [{
		                name: 'Population',
		                data: [
		                    {% for d in dati|slice:":10"%}
								{{d.tot_punti}},
							{% endfor%}
		                ],
		                dataLabels: {
		                    enabled: true,
		                    rotation: -90,
		                    color: '#FFFFFF',
		                    align: 'right',
		                    x: 4,
		                    y: 10,
		                    style: {
		                        fontSize: '13px',
		                        fontFamily: 'Verdana, sans-serif'
		                    }
		                }
		            }]
		        });
		    });


		
		</script>
		<table class="table table-striped" >
		<thead>
		<tr>
		<th>Posizione</th><th>Persona</th><th>Punteggio</th>
		</tr></thead>
		{% for d in dati %}
		<tr>
		<td>{{forloop.counter}}</td><td>{{d|safe|escape}}</td><td>{{d.tot_punti}}</td>
		</tr>
		{% endfor%}
		</table>
	{% endif %}

	</div>
	{% endfor %}
</div>
