

<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#tabs-tot_turni" data-toggle="tab" >Turni</a></li>
	<li ><a href="#tabs-tot_punti" data-toggle="tab" >Punteggio</a></li>
	<li ><a href="#tabs-generali" data-toggle="tab" onclick="generali();">Generali</a></li>
</ul>

<div class="tab-content">

	<div class="tab-pane active" id="tabs-tot_turni">

		<div id="container-0" style="min-width: 200px; height: 350px; margin: 0 auto"></div>
	
		<table id="tabella_turni" class="table table-striped no-more-tables tablesorter">

			<thead>	
				<tr>
					<th>Posizione</th><th>Nome</th><th>Cognome</th><th>Turni effettuati</th>
				</tr>
			</thead>
			<tbody>
				{%for d in tot_turni %}
	 				<tr><td>{{forloop.counter}}</td><td>{{d.nome|safe|escape}}</td><td>{{d.cognome|safe|escape}}</td>
	 				<td>{{d.tot_turni}} <i class="icon-search" style="cursor: pointer;" onclick="dettagli_statistiche({{d.id}}); $('#dettagli-{{d.id}}').slideToggle(); "></i> </br>
	 					<div id="dettagli-{{d.id}}" class="hide">
	 					</div>
	 				</td></tr>
				{%endfor%}
			</tbody>
		</table>

	</div>

	<div class="tab-pane" id="tabs-tot_punti">

		<div id="container-1" style="min-width: 200px; height: 350px; margin: 0 auto"></div>

		<table id="tabella_punti" class="table table-striped no-more-tables tablesorter">

			<thead>	
				<tr>
					<th>Posizione</th><th>Nome</th><th>Cognome</th><th>Punteggio</th>
				</tr>
			</thead>
			<tbody>
				{%for d in tot_punti %}
	 				<tr>
	 					<td>{{forloop.counter}}</td><td>{{d.nome|safe|escape}}</td><td>{{d.cognome|safe|escape}}</td>
	 					<td>{{d.tot_punti}}
	 					</td>
	 				</tr>
	 				<tr>
				{%endfor%}
			</tbody>
		</table>

	</div>
	<div class="tab-pane" id="tabs-generali">
	</div>
</div>
<script src="/static/sorttable.js"></script>

<script type="text/javascript">
$(window).load(function(){

	$("table#tabella_turni").tablesorter({
		sortList: [[3,1]],
		theme : "bootstrap",widthFixed: true,headerTemplate : '{content} {icon}',widgets : [ "uitheme", "filter" ],
		widgetOptions : { filter_reset : ".reset",}
		});
});


$(function () {
        $('#container-0').highcharts({
            chart: {
                type: 'column',
                margin: [ 50, 50, 100, 80]
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    {% for d in tot_turni|slice:":10"%}
						"{{d.nome|safe|escape}} {{d.cognome|safe|escape}}",
					{% endfor%}
                ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Turni'
                },
                stackLabels: {
            		enabled: true,
            		style: {
                		fontWeight: 'bold',
                		color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            			}
        		}
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Population',
                data: [
                    {% for d in tot_turni|slice:":10"%}
						{{d.tot_turni}},
					{% endfor%}
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    });



$(window).load(function(){
	$("table#tabella_punti").tablesorter({
		sortList: [[3,1]],
		theme : "bootstrap",widthFixed: true,headerTemplate : '{content} {icon}',widgets : [ "uitheme", "filter"],
		widgetOptions : {filter_reset : ".reset",}
		});
});

$(function () {
        $('#container-1').highcharts({
            chart: {
                type: 'column',
                margin: [ 50, 50, 100, 80],
                width: $('#tabs-tot_turni').width()
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                    {% for d in tot_punti|slice:":10"%}
						"{{d.nome|safe|escape}} {{d.cognome|safe|escape}}",
					{% endfor%}
                ],
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Turni'
                },
                stackLabels: {
            		enabled: true,
            		style: {
                		fontWeight: 'bold',
                		color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            			}
        		}
            },
            legend: {
                enabled: false
            },
            series: [{
                name: 'Population',
                data: [
                    {% for d in tot_punti|slice:":10"%}
						{{d.tot_punti}},
					{% endfor%}
                ],
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    x: 4,
                    y: 10,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
    });

</script>