table.table {width: 100%;}

table.table td {
    vertical-align: top;
        width: 14.25%;
}

.turno {
    border: 1px solid #000;
    margin-bottom: 5px;
    padding: 2px;

}

.titolo-turno {
    text-align: center;
    margin: 1px ! important;
    border-bottom: 1px solid #000;
}

div{
        page-break-inside: avoid;
}

body {
line-height: 1.1;
}

body {
font: 11pt Arial;
line-height: 1.2;
}

h1 {
font-size: 14pt;
}

h5 {
font-size: 12pt;
margin-top: 20px;
}

aside h2 {
font-size: 15pt;
}

.mansione {
	font-size: 11px;
}