
{% load template_filters %}

<div class="well well-small">
	<div class="row-fluid" id="tipo_turno-{{tipo_turno.id}}">
		
		<h5><i class="icon-th-list"></i> {{tipo_turno}} ( {{tipo_turno.priorita}} )</h5>
			{% if request.user.is_superuser %}
			<div class="btn-group pull-right">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-cog"></i> Azioni
				<span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right">
					<li><a href="/impostazioni/tipo_turno/aggiungi_requisito/{{tipo_turno.id}}"><i class="icon-plus"></i> aggiungi requisito</a></li>
					<li><a href="/impostazioni/tipo_turno/modifica/{{tipo_turno.id}}"><i class="icon-edit"></i> modifica</a></li>
					<li><a href="/impostazioni/tipo_turno/elimina/{{tipo_turno.id}}" data-toggle="modal"><i class="icon-trash"></i> elimina</a></li>
				</ul>
			</div>
			{% endif %}

	</div>
	<div class="row-fluid">
		<h6>Requisiti:</h6>
	</div>
	<div class="row-fluid">
			<table class="table table-striped no-more-tables">
				<thead>
				<tr><th>Mansione</th><th>Minimo</th><th>Massimo</th><th>Necessario</th><th>sufficiente</th><th>nascosto</th><th>Extra</th><th>Operazioni</th></tr>
				</thead>
				{% for requisito in tipo_turno.req_tipo_turno.all %}
					<tr class="requisiti-elenco">
					{{requisito|stampa_requisito|safe }}

					</tr>
				{% endfor %}
			</table>
	</div>
</div>
