<script src="/static/sorttable.js"></script>

<div class="row-fluid">
	<div class="pull-left">
		<a class="btn" name="CheckAll" onClick="$('.ck_persona:checkbox').prop('checked',true);"><i class="icon-check"></i> Seleziona tutto</a>
		<a class="btn" name="UnCheckAll" onClick="$('.ck_persona:checkbox').prop('checked',false);"><i class="icon-check-empty"></i> Annulla selezione</a>
	</div>
	<div class=" pull-right">
	<form class="form-inline">
		Se selezionati: <select name="azione">
			<option value="">---
			<option value="aggiungi_g">aggiungi al gruppo
			<option value="rimuovi_g">rimuovi dal gruppo
			<option value="aggiungi_m">aggiungi mansione
			<option value="rimuovi_m">rimuovi mansione
		</select>
		<select name="default_select">
		<option value="">---  
		</select>
		<input class="btn" value="applica" onclick="aggiungi_rimuovi()">
	</form>
	</div>
	
<div class="span7">

<script type="text/javascript">
	function aggiungi_rimuovi() {
		persone = ''
		url= '/persone/aggiungilista/'
		azione = $("select[name='azione']").val();
		if (azione !=""){
			arg = $("select[name='arg']").val();
			if (arg!=""){
				$('.ck_persona:checkbox').each(function() {if (this.checked) {
               		persone = persone + '_' + this.value;
           		}})
           		persone = persone.substr(1);
           		url = url + azione +"/"+ arg +"/"+ persone + "/"
				window.location = url;
			}
			else {
				alert("Seleziona un argomento");
			}
			
		}
		else {
			alert("Seleziona una azione");
		}

	}


	function persona_stato(selettore){
	value=selettore.options[selettore.selectedIndex].value;
	dati=value.split("-");
	$('#loading').removeClass('hidden');
	Dajaxice.persone.persona_stato(Dajax.process,{'stato':dati[0],'persona':dati[1]});
	};
	var select_enable;
	var select_gruppi;
	var select_mansioni;
	$(window).load(function(){
		select_enable = $("select[name='default_select']");
		select_gruppi = $("<select>").prop("name", "arg").append($("<option value=''>---</option>"));
		{% for gruppo in gruppi %}
			select_gruppi.append($("<option>").prop("value", "{{gruppo.id}}").text("{{gruppo.nome}}"));
		{% endfor %}
		select_mansioni = $("<select>").prop("name", "arg").append($("<option value=''>---</option>"));
		{% for mansione in mansioni %}
			select_mansioni.append($("<option>").prop("value", "{{mansione.id}}").text("{{mansione.nome}}"));
		{% endfor %}
	

		$("select[name='azione']").change(function(){
			if($(this).val() == "aggiungi_g" || $(this).val() == "rimuovi_g"){
				$(select_enable).replaceWith(select_gruppi);
				select_enable = select_gruppi;
			}
			else{
				$(select_enable).replaceWith(select_mansioni);
				select_enable = select_mansioni;
			}
		});
	});
	
</script>

<table id="tabella_persone" class="tablesorter">

<thead>	
	<tr>
		<th></th><th>Nome</th><th>Mansioni</th><th>Gruppi</th><th>Stato</th><th>Note</th><th>Operazioni</th>
	</tr>
</thead>

{% for persona in persone %}
	<tr id="persona-{{persona.id}}">
		<td><input type="checkbox" class="ck_persona"  value="{{persona.id}}"></td>
		<td data-title="Nome"><a href="/persone/visualizza/{{persona.id}}"><i class="icon-search"></i> {{persona}}</a></td>
		<td data-title="Mansioni">{% for m in persona.capacita %} <span class="badge-mansione">{{m}}</span> {% endfor %}</td>
		<td data-title="Gruppi">{% for g in persona.componenti_gruppo.all %} <span class="badge-gruppo">{{g}}</span> {% endfor %}</td>
		<td data-title="Stato"><SELECT NAME="stato" class="span7" ONCHANGE="persona_stato(this)" id="sel-{{persona.id}}">
			{%for key,value in stati %}
			<OPTION VALUE="{{key}}-{{persona.id}}"  {% if persona.get_stato_display == value%} selected {%endif%} >{{value}}
			{% endfor%}
			</SELECT></td>
		<td data-title="Note">{{persona.note}}
		</td>
		<td data-title="Operazioni">
			<div class="btn-group">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-cog"></i> Azioni
				<span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu pull-right">
				<li><a href="/persone/modifica/{{persona.id}}"><i class="icon-edit"></i> modifica</a></li>
				<li class="superuser"><a href="#elimina-persona-{{persona.id}}" data-toggle="modal"><i class="icon-trash"></i> elimina</a></li>
			  </ul>
			</div>
		</td>
	</tr>
	
<div id="elimina-persona-{{persona.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
		<div class="alert alert-error">
			<h5><i class="icon-warning-sign icon-2x"></i> Vuoi veramente eliminare {{persona}}?</h5>
		</div>
	</div>
	<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Annulla</button>
	<button class="btn btn-primary" data-dismiss="modal" onclick="$('#loading').removeClass('hidden'); Dajaxice.persone.elimina_persona(Dajax.process,{'persona_id':{{persona.id}}});">Elimina</button>
	</div>
</div>

{% endfor %}

</table>
</div>

</form>
</div>


<script type="text/javascript">
$(window).load(function(){


	$("table#tabella_persone").tablesorter({
		headers: {
			0: { sorter: false, filter:false },
			4: { sorter: true, filter:false },
			5: { sorter: false, filter:false },
			6: { sorter: false, filter:false },
			},
		textExtraction: {
			4: function(node, table, cellIndex){ 
				return $('select option:selected',node).text();  },
		},
		theme : "bootstrap",widthFixed: true,headerTemplate : '{content} {icon}',widgets : [ "uitheme", "filter"],
		widgetOptions : { filter_reset : ".reset",}
		});
});
</script>
