
{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div id="div_{{ field.auto_id }}" class="control-group{% if form_show_errors and field.errors %} error{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

        {% if field.label %}
            <label for="{{ field.auto_id }}"  class="control-label{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
            </label>
        {% endif %}

        <div class="controls"{% if flat_attrs %} {{ flat_attrs|safe }}{% endif %}>
		    {% include 'bootstrap/layout/field_errors_block.html' %}

		        <label class="color">
		            <input class="minicolors" type="text" name="{{ field.html_name }}" id="id_{{ field.html_name }}" value="{{ field.value }}">
		        </label>
                <script>
                    $(document).ready( function() {
                        $('.icona').each(function() {
                            $(this).css('color',"{{ field.value }}");
                        })
                        $('INPUT.minicolors').minicolors({
                            inline: true,
                            change: function(hex, opacity) {
                                $('.icona').each(function() {
                                    $(this).css('color',hex);
                                })
                            }
                        });
                    });
                </script>

		    {% include 'bootstrap/layout/help_text.html' %}
		</div>
    </div>
{% endif %}

