{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}

		<h4 class="header">Login</h4>

{% endblock %}


{% block main %}
<div style="margin:10px;">

{% if form.non_field_errors %}
            <div class="alert alert-error"><p>{{ form.non_field_errors }}</p></div>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
  {%for field in form %}
    <div id="div_{{field.name}}" class="control-group {%if field.errors %}error{%endif%}">
      <label for="{{field.name}}" class="control-label requiredField">
        {{field.label}}<span class="asteriskField">*</span>
      </label>
      <div class="controls">
        {{field}}
        {%if field.errors %}
          <span class="help-inline">{{field.errors}}</span>
        {%endif%}
      </div>
    </div>

  {% endfor %}
	<input type="hidden" name="next" value="{{ next }}">
	<button type="submit" class="btn btn-primary"> Accedi <i class="icon-signin icon-white"></i></button>
</form>

  
</div>
{% endblock %}
