{% extends 'base.html' %}

{% block header %}
		<h4 class="header">Reimposta la password</h4>
{% endblock %}

{% block main %}

<div style="margin:10px;">
{% if validlink %}
	{% if form.non_field_errors %}
	            <div class="alert alert-error"><p>{{ form.non_field_errors }}</p></div>
	{% endif %}

	<form method="post" action=".">{% csrf_token %}
	  {%for field in form %}
	    <div id="div_{{field.name}}" class="control-group {%if field.errors %}error{%endif%}">
	      <label for="{{field.name}}" class="control-label requiredField">
	        {{field.label}}<span class="asteriskField">*</span>
	      </label>
	      <div class="controls">
	        {{field}}
	        {%if field.errors %}
	          <span class="help-inline">{{field.errors}}</span>
	        {%endif%}
	      </div>
	    </div>

	  {% endfor %}
	  <div class="form-actions">
		<button type="submit" class="btn btn-primary"> Modifica la password <i class="icon-signin icon-white"></i></button>
	  </div>
	</form>

{% else %}
<div class="alert alert-error"><h3>Il link non è corretto!</h3></div>
{% endif %}
  
</div>

{% endblock %}
