{% block header %}

    <h4 class="header">Modifica password personale</h4>

{% endblock %}

{% block main %}
<div style="margin:10px;">
  {% if form.non_field_errors %}
              <div class="alert alert-error"><p>{{ form.non_field_errors }}</p></div>
  {% endif %}

  <form action="/utenti/modifica/{{ user.id }}/password_personale/" method="post">{% csrf_token %}
 
  {%for field in form %}
    <div id="div_{{field.name}}" class="control-group {%if field.errors %}error{%endif%}">
      <label for="{{field.name}}" class="control-label requiredField">
        {{field.label}}<span class="asteriskField">*</span>
      </label>
      <div class="controls">
        {{field}}
        {%if field.errors %}
          <span class="help-inline">{{field.errors}}</span>
        {%endif%}
      </div>
    </div>

  {% endfor %}

  <input type="submit" value="Invia" class="btn btn-primary"/> <input type="reset" value="cancella" class="btn">
  </form>    	
  
</div>
{% endblock %}
