{% load dajaxice_templatetags %}
{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Get 2.0{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/style-bootstrap.css" rel="stylesheet">
	<script src="/static/bootstrap/js/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
	{% dajaxice_js_import %}
	<script src="/static/jquery.min.js"></script>
	<script src="/static/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/smoothness/jquery-ui-1.10.1.custom.css" %}" />
	<script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
	<script type="text/javascript" src="/static/js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="/static/js/noty/layouts/bottomRight.js"></script>
	<script type="text/javascript" src="/static/js/noty/themes/default.js"></script>

	{% block head %}{% endblock %}
	<script>	
	$(document).ready(function(){
	{% if not request.user.is_staff %}
		$('.staff').hide()
	{% endif %}
	{% if not request.user.id %}
		$('.user').hide()
	{% endif %}
	{% if not request.user.is_superuser %}
		$('.superuser').hide()
	{% endif %}
	});
</script>
</head>
<body>
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">	
			<a class="brand" href="#"> GeT 2.0</a>
				{% if request.user.id%}
					<div class="btn-group pull-right">
						{% if request.user.get_profile.notifiche_non_lette %}
						<button class="btn">Notifiche <span class="badge badge-important">{{request.user.get_profile.notifiche_non_lette}}</span></button>
						{% endif %}
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						{{request.user.get_profile}}
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/accounts/logout">Esci</a></li>
						</ul>
					</div>
				{%else%}
					<form method="post" action="{% url django.contrib.auth.views.login %}" class="navbar-form pull-right">{% csrf_token %}
					<input type="hidden" name="next" value="/calendario/" />
					<input id="id_username" type="text" name="username" class="input" placeholder="Utente">
					<input type="password" name="password" id="id_password" class="input" placeholder="Password">
					<input type="submit" value=" Accedi " class="btn btn-primary"></form>
				{% endif %}
		</div>
	</div>
	<div id="menu1">
		<div class="container">
			<div class="row">
				<div class="span7">
					{% include "menu.html" %}	
				</div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span7">
					<div class="row-fluid">
						<div class="span7">
							{% block header %}{% endblock %}
						</div>
					</div>
					<div class="row-fluid">				
						{% block main %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
