{% load dajaxice_templatetags %}
{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Get 2.0{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/style-bootstrap.css" rel="stylesheet">
	<link href="/static/bootstrap/css/font-awesome.min.css" rel="stylesheet">
	<script src="/static/bootstrap/js/jquery.min.js"></script>
	<script src="/static/js/jquery.cookie.js"></script>
	<link href="/static/css/bootstrap-notify.css" rel="stylesheet">
	<script src="/static/js/bootstrap-notify.js"></script>
	
	<!--[if IE 7]>
	<link rel="stylesheet" href="/static/bootstrap/css/font-awesome-ie7.min.css">
	<![endif]-->
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	{% dajaxice_js_import %}
	<script type="text/javascript" src="{% static "dajax/jquery.dajax.core.js" %}"></script>
	<script>
	$(document).ready(function(){

		// hide #back-top first
		$("#back-top").hide();
		
		// fade in #back-top
		$(function () {
			$(window).scroll(function () {
				if ($(this).scrollTop() > 100) {
					$('#back-top').fadeIn();
				} else {
					$('#back-top').fadeOut();
				}
			});

			// scroll body to 0px on click
			$('#back-top a').click(function () {
				$('body,html').animate({
					scrollTop: 0
				}, 800);
				return false;
			});
		});

		if(jQuery.cookie('touch')=='yes') {

		};

	});
	</script>
	{% block head %}{% endblock %}
	<script>	
	$(document).ready(function(){
	{% if not request.user.is_staff %}
		$('.staff').hide()
	{% endif %}
	{% if not request.user.id %}
		$('.user').hide()
	{% endif %}
	{% if not request.user.is_superuser %}
		$('.superuser').hide()
	{% endif %}
	});
</script>
</head>
<body>
	<div id="back-top"><a href="#top"><i class="icon-arrow-up"></i></a></div>
	<div id="loading" class="hidden"><i class="icon-spinner icon-spin icon-4x" id="loading-image"></i></div>
	<div class='notifications bottom-right'></div>
	<div class="navbar navbar-static-top">
		<div class="navbar-inner">
			<a class="brand" href="/"> GeT 2.0</a>
				{% if request.user.id%}
					<div class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						{{request.user.get_profile}}
						<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/accounts/logout">Esci</a></li>
							{%if request.user.get_profile %}
								<li><a href="/persone/visualizza/{{request.user.get_profile.id}}">Il mio profilo</a></li>
							{% endif%}
						</ul>
					</div>
				{%else%}
					<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="navbar-form pull-right">{% csrf_token %}
					<input type="hidden" name="next" value="/calendario/" />
					<input id="id_username" type="text" name="username" class="input" placeholder="Utente">
					<input type="password" name="password" id="id_password" class="input" placeholder="Password">
					<input type="submit" value=" Accedi " class="btn btn-primary"></form>
				{% endif %}
		</div>
	</div>
	<div id="menu1">
		<div class="container">
			<a class="btn-menu hidden-desktop " data-toggle="collapse" data-target=".nav-collapse">
				<h4>menu <i class="icon-chevron-down"></i></h4>
			</a>
			<div class="nav-collapse collapse">
				<div class="row">
					<div class="span7">
						{% include "menu.html" %}	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span7">
					<div class="row-fluid">
						<div class="span7">
							{% block header %}{% endblock %}
						</div>
					</div>
								
						{% block main %}{% endblock %}
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>
