{% extends "base.html" %} 


{% block menu2s %}
    <ul class="breadcrumb">
    <li class="active">Calendario</li>
    </ul>
{% endblock %}

{% block menu2d  %}
		<a href="/calendario/turno/nuovo" class="btn pull-right">Nuovo Turno</a>
		
{% endblock %}

{% block main %}
<!--<script>-->
<!-- $(function() {-->
<!--$( "span.persona-draggable" ).draggable({ revert: true });-->
<!--$( "div.droppable" ).droppable({-->
<!--drop: function() {-->
<!--alert( "dropped" );-->
<!--}-->
<!--});-->

<!--});-->
<!--</script>-->
<!--<div class="menu-main">-->
<!--	<span class="persona-draggable"> Matteo Lucchesi </span>-->
<!--</div>-->
	<div class="span7">
    <ul class="pager">
    <li class="previous">
    <a href="#">&larr; Indietro</a>
    </li>
    <li><a href="#">Oggi</a></li>
    <li class="next">
    <a href="#">Avanti &rarr;</a>
    </li>
    </div>
</div>

<div class="row-fluid">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

{% for giorno, turno in calendario %}
    <div id="giorno-{{forloop.counter}}" class="giorno span1" >
    <span class="titolo-giorno {% cycle 'giorno1' 'giorno2' %}">{{giorno|date:"D d M"}}</span>
    xxx
	{% for t in turno%}
		{% include "turno.html" %}
	{% endfor %}
	</div>
{% endfor %}


{% endblock %}
