{% extends "base.html" %} 
{% load template_filters %}

{% block header %}
	{% if request.user.is_staff %}
		<a class="btn pull-right" href="/turno/{{cal_id}}/nuovo"><i class="icon-plus"> </i> Nuovo Turno</a><h4 class="header">
			Calendario
		</h4>
	{% endif %}
{% endblock %}


{% block main %}
<!--<script>-->
<!-- $(function() {-->
<!--$( "span.persona-draggable" ).draggable({ revert: true });-->
<!--$( "div.droppable" ).droppable({-->
<!--drop: function() {-->
<!--alert( "dropped" );-->
<!--}-->
<!--});-->

<!--});-->
<!--</script>-->
<!--<div class="menu-main">-->
<!--	<span class="persona-draggable"> Matteo Lucchesi </span>-->
<!--</div>-->
<div class="row-fluid">	
	<div class="span7">
    <ul class="pager">
    <li class="previous">
    <a href="/calendario/{{cal_id}}/settindietro" onclick="$('#loading').removeClass('hidden');"><i class="icon-chevron-left"></i> Indietro</a>
    </li>
    <li><a href="/calendario/{{cal_id}}/oggi" onclick="$('#loading').removeClass('hidden');"><i class="icon-home"></i> Oggi</a></li>
    <li class="next">
    <a href="/calendario/{{cal_id}}/settavanti" onclick="$('#loading').removeClass('hidden');">Avanti <i class="icon-chevron-right"></i></a>
    </li>
    </div>
</div>

<div class="row-fluid calendario">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

{% for giorno, turno in calendario %}
    <div id="giorno-{{forloop.counter}}" class="giorno span1" >
		<div class="row">
			<div class="span7 titolo-giorno {% cycle 'giorno1' 'giorno2' %}">
				<header><h4 class="{{giorno|data_festa}}">{{giorno|date:"D d M"}}</h4></header>
			</div>
		</div>
	{% for t in turno%}
		<div class="row">
			{% include "turno.html" %}
		</div>
	{% endfor %}
	</div>
{% endfor %}
</div>

<div class="row-fluid">	
	<div class="span7">
    <ul class="pager">
    <li class="previous">
    <a href="/calendario/{{cal_id}}/settindietro"><i class="icon-chevron-left"></i> Indietro</a>
    </li>
    <li><a href="/calendario/{{cal_id}}/oggi"><i class="icon-home"></i> Oggi</a></li>
    <li class="next">
    <a href="/calendario/{{cal_id}}/settavanti">Avanti <i class="icon-chevron-right"></i></a>
    </li>
    </div>
</div>

{% endblock %}
