{% extends "base.html" %}
{% load template_filters %}
{% load crispy_forms_tags %}

{% block header %}
	{% if request.user.is_staff %}

    <script type="text/javascript">
            function filtro(sel){
                $('#filtro_calendario').slideDown();
                if (sel.hasClass('active')){
                    $('input[name=giorni]').prop('checked', false);
                    $("#submit-id-submit").click()
                }
                else {
                    sel.addClass('active');
                }
            }
    </script>

        <div class="btn-group pull-right">
            <a class="btn {% if request.session.form_data %}active{% endif %}" href="#" onclick="filtro($(this))"><i class="icon-filter"> </i> Filtra</a>
            <a class="btn " href="/stampa_calendario/{{cal_id}}"><i class="icon-print"> </i> Versione stampabile</a>
            <a class="btn " href="/turno/{{cal_id}}/nuovo"><i class="icon-plus"> </i> Nuovo Turno</a>
        </div>
        <h4 class="header">
			Calendario
		</h4>
	{% endif %}
{% endblock %}


{% block main %}
<!--<script>-->
<!-- $(function() {-->
<!--$( "span.persona-draggable" ).draggable({ revert: true });-->
<!--$( "div.droppable" ).droppable({-->
<!--drop: function() {-->
<!--alert( "dropped" );-->
<!--}-->
<!--});-->

<!--});-->
<!--</script>-->
<!--<div class="menu-main">-->
<!--	<span class="persona-draggable"> Matteo Lucchesi </span>-->
<!--</div>-->
<div class="row-fluid">
    <div class="span7 {% if not request.session.form_data %}hide{% endif %}" id="filtro_calendario">
        {% crispy form_filtro %}
    </div>
</div>

{% include "pager_calendario.html" %}

<script>
    $(document).ready(function(){
        $(".tp").tooltip();
    });
</script>

<div class="row-fluid calendario">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

{% for giorno, turno in calendario %}
    <div id="giorno-{{forloop.counter}}" class="giorno span1" >
		<div class="row">
			<div class="span7 titolo-giorno {% cycle 'giorno1' 'giorno2' %}">
				<header><h4 class="{{giorno|data_festa}}">{{giorno|date:"D d M"}}</h4></header>
			</div>
		</div>
	{% for t in turno %}
		<div class="row">
			{% include "turno.html" %}


		</div>
	{% endfor %}
	</div>
{% endfor %}
</div>

{% include "pager_calendario.html" %}

<script type="text/javascript">
// if ($(window).width()>756){
//  for (var i=1;i<9;i++)
//     {
//         var h_max=0;
//         $(".turno."+i).each(function(){
//             h=$(this).offset().top + $(this).height() + 8;
//             if (h>h_max){h_max=h;}
//         });
//         console.log(h_max);
//         $(".turno."+(i+1).toString()).each(function(){ $(this).offset({top:h_max}) });
//     }};

$('.persona-turno').popover({trigger:'hover',html:true,});

 </script>

{% endblock %}
