
{% extends "base.html" %}
{% load static %}


{% block head %}
	<script src="/static/js/jquery.tablesorter.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets-filter-formatter.min.js"></script>
	<link href="/static/css/theme.bootstrap.css" rel="stylesheet">
{% endblock%}

{% block header %}
		<h4 class="header">
			<a href="/calendario/{{t.calendario.id}}">Calendario</a>
			<i class="icon-angle-right"></i>
			{{t.inizio|date}} ({{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}})
			<i class="icon-angle-right"></i>
			Cerca {{mansione}}
		</h4>
{% endblock %}

{% block main %}

<script type="text/javascript">
function disp(selettore){
	value=selettore.options[selettore.selectedIndex].value;
	classe=selettore.className;
	if (selettore.options[0].value==''){
		selettore.remove(0);}
	dati=value.split("/");
	$('#loading').removeClass('hidden');
	Dajaxice.get2.calendario.disp(Dajax.process,{'turno_id':dati[0],'mansione_id':dati[1],'persona_id':dati[2],'disp':dati[3]});
	
}

function nota_disponibilita(disp_id){
	selettore=$('#note-disp-'+disp_id)
	Dajaxice.get2.calendario.disp_nota(Dajax.process,{'disp_id':disp_id,'nota':selettore.val()});
}
</script>

<div class="row-fluid">
	<div class="span2">
		<div class="box">
			<div class="box-header">
				<h5>Anteprima</h5>
			</div>
			<div class="box-content" id="anteprima">
				{% include "turno.html" %}
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div class="span5">
		<div class="box">
			<div class="box-header">
					<h5><i class="icon-search"></i> Cerca persone</h5>
			</div>
			<div class="box-content">
				<table class="table table-striped no-more-tables" id="cerca_persona">
				<thead>
					<tr>
					<th>Nome</th><th>Capacita'</th><th>Telefono</th></th><th>Disponibilita'</th>
					</tr>
				</thead>
				{%for persona in persone%}
					{%for c in t.contemporanei.all %}
						{% for d in c.turno_disponibilita.all %}
						{% if persona = d.persona %}
						<script type="text/javascript">
						$(document).ready(function(){
							var s = $('#sel-{{persona.id}}');
							//s.remove(0);
							if('{{d.mansione.id}}'!='{{mansione.id}}' || '{{c.id}}'!='{{t.id}}'){
								if('{{d.tipo}}'=='Disponibile'){
									s.empty();
									s.append("<option value=''>Gia Impegnato</option>");
									$('#persona-{{persona.id}}').addClass("error");
								}
								else {$('#sel-{{persona.id}} option').filter(function() { return this.text == '{{d.get_tipo_display}}';}).prop('selected', true);
									 $('#disponibilita-{{persona.id}}').html('<div class="input-prepend input-append small"><span class="add-on"><i class="icon-comment"></i></span><input id="note-disp-{{d.id}}" type="text" value="{{d.note}}"><button class="btn" type="button" onclick="nota_disponibilita({{d.id}});">salva</button></div></br>{{d.creata_da}}:{{d.ultima_modifica|date:"d M"}} {{d.ultima_modifica|time:"H:i"}}');
									}
							}
							else { $('#sel-{{persona.id}} option').filter(function() { return this.text == '{{d.get_tipo_display}}';}).prop('selected', true);
								 $('#disponibilita-{{persona.id}}').html('<div class="input-prepend input-append small"><span class="add-on"><i class="icon-comment"></i></span><input id="note-disp-{{d.id}}" type="text" value="{{d.note}}"><button class="btn" type="button" onclick="nota_disponibilita({{d.id}});">salva</button></div></br>{{d.creata_da}}:{{d.ultima_modifica|date:"d M"}} {{d.ultima_modifica|time:"H:i"}}');
								} }
						);
						</script>
						{% endif %}
						{% endfor %}
					{% endfor %}
					{% for d in t.turno_disponibilita.all %}
					 {% if persona = d.persona and d.mansione.id != mansione.id and d.tipo = "Disponibile" %}
					  <script type="text/javascript">
						  $(document).ready(function(){
							  var s = $('#sel-{{persona.id}}');
							  $("#sel-{{persona.id}} option:first").remove();
							  s.prepend("<option value=''>{{d.mansione}} </option>");
							  $("#sel-{{persona.id}} option:first").prop('selected', true);
							  $('#disponibilita-{{persona.id}}').html('<div class="input-prepend input-append small"><span class="add-on"><i class="icon-comment"></i></span><input id="note-disp-{{d.id}}" type="text" value="{{d.note}}"><button class="btn" type="button" onclick="nota_disponibilita({{d.id}});">salva</button></div></br>{{d.creata_da}}:{{d.ultima_modifica|date:"d M"}} {{d.ultima_modifica|time:"H:i"}}');
							  
							}
							);
					  </script> 
					 {% endif %}
					 {% if persona = d.persona and d.mansione.id = mansione.id %}
					  <script type="text/javascript">
						$(document).ready(function(){
							$('#sel-{{persona.id}} option').filter(function() { return this.text == '{{d.get_tipo_display}}'; }).prop('selected', true);
							{% if not request.user.is_superuser %}
								$("#sel-{{persona.id}} option:first").remove();
							{% endif %}
							$('#disponibilita-{{persona.id}}').html('<div class="input-prepend input-append small"><span class="add-on"><i class="icon-comment"></i></span><input id="note-disp-{{d.id}}" type="text" value="{{d.note}}"><button class="btn" type="button" onclick="nota_disponibilita({{d.id}});">salva</button></div></br>{{d.creata_da}}:{{d.ultima_modifica|date:"d M"}} {{d.ultima_modifica|time:"H:i"}}');
							}
						);
					  </script> 
					 {% endif %}
					{% endfor %}
					<tr {%if persona.stato != 'disponibile'%} class="error" {%endif%} id="persona-{{persona.id}}">
					<td data-title="Nome" class="nome">{{persona}}</td>
					<td data-title="Mansioni" class="mansioni">{% for m in persona.capacita %}<span class="badge-mansione">{{m}}</span>  {% endfor %}</td>
					<td data-title="telefono">{{persona.telefono|safe}}</td>
					<td data-title="Disponibilita" class="disponibilita">
						<SELECT NAME="stato" class="span7" ONCHANGE="disp(this);" id="sel-{{persona.id}}">
							<OPTION VALUE="{{t.id}}/{{mansione.id}}/{{persona.id}}/-">----
							{%for key,value in DISPONIBILITA %}
								<OPTION VALUE="{{t.id}}/{{mansione.id}}/{{persona.id}}/{{key}}">{{value}}
							{% endfor%}
							</SELECT>
						</br>

				<div id="disponibilita-{{persona.id}}"></div>
					</td>
					</tr>

				<script>
				$(document).ready(function() {
					if('disponibile'!='{{persona.stato}}'){
					$("#sel-{{persona.id}}").hide();
					$("#persona-{{persona.id}} td.disponibilita").html("{{persona.get_stato_display}}");
					
					}
					$("#titolo-turno-{{t.id}} .dropdown").hide();
					$('.h6-mansione-{{mansione.id}}').addClass("mansione-sel");
				});
				</script>

				{% endfor%}
			</table>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){

	$("table#cerca_persona").tablesorter({
		textExtraction: {
			4: function(node, table, cellIndex){ 
				return $('select option:selected',node).text();  },
		},
		sortList: [[4,1]],
		theme : "bootstrap",widthFixed: true,headerTemplate : '{content} {icon}',widgets : [ "uitheme", "filter", "zebra" ],
		widgetOptions : {zebra : ["even", "odd"], filter_reset : ".reset",	}
		});
});
</script>

{% endblock %}
