
{% extends "base.html" %}
{% load static %}

{% block header %}
		<h4 class="header">
			<a href="/calendario/">Calendario</a>
			<i class="icon-angle-right"></i>
			{{t.inizio|date}} ({{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}})
			<i class="icon-angle-right"></i>
			Cerca {{mansione}}
		</h4>
{% endblock %}

{% block main %}

<script type="text/javascript">
function disp(selettore){
	value=selettore.options[selettore.selectedIndex].value;
	classe=selettore.className;
	if (selettore.options[0].value==''){
		selettore.remove(0);}
	dati=value.split("/");
	Dajaxice.get2.calendario.disp(Dajax.process,{'turno_id':dati[0],'mansione_id':dati[1],'persona_id':dati[2],'disp':dati[3]});
}
</script>

<div class="row-fluid">
	<div class="span1">
		<div class="box">
			<div class="box-header">
				<h5>Anteprima</h5>
			</div>
			<div class="box-content" id="anteprima">
				{% include "turno.html" %}
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="box">
			<div class="box-header">
					<h5><i class="icon-search"></i> Cerca persone</h5>
			</div>
			<div class="box-content">
				<table class="table table-striped no-more-tables">
				<thead>
					<tr>
					<th>Nome</th><th>Mansioni</th><th>Disponibilita'</th>
					</tr>
				</thead>
				{%for persona in persone%}
					{%for c in t.contemporanei.all %}
						{% for d in c.turno_disponibilita.all %}
						{% if persona = d.persona %}
						<script type="text/javascript">
						$(document).ready(function(){
							var s = $('#sel-{{persona.id}}');
							//s.remove(0);
							if('{{d.mansione.id}}'!='{{mansione.id}}' || '{{c.id}}'!='{{t.id}}'){
								if('{{d.tipo}}'=='Disponibile'){
									s.empty();
									s.append("<option value=''>Gia Impegnato</option>");
									$('#persona-{{persona.id}}').addClass("error");
								}
								else {$('#sel-{{persona.id}} option').filter(function() { return this.text == '{{d.tipo}}';}).attr('selected', true);}
							}
							else { $('#sel-{{persona.id}} option').filter(function() { return this.text == '{{d.tipo}}';}).attr('selected', true);} }
						);
						</script>
						{% endif %}
						{% endfor %}
					{% endfor %}
					{% for d in t.turno_disponibilita.all %}
					 {% if persona = d.persona and d.mansione.id != mansione.id and d.tipo = "Disponibile" %}
					  <script type="text/javascript">
						  $(document).ready(function(){
							  var s = $('#sel-{{persona.id}}');
							  $("#sel-{{persona.id}} option:first").remove();
							  s.prepend("<option value=''>{{d.mansione}}</option>");
							  $("#sel-{{persona.id}} option:first").attr('selected', true);}
							);
					  </script> 
					 {% endif %}
					 {% if persona = d.persona and d.mansione.id = mansione.id %}
					  <script type="text/javascript">
						$(document).ready(function(){
							$('#sel-{{persona.id}} option').filter(function() { return this.text == '{{d.tipo}}'; }).attr('selected', true);
							}
						);
					  </script> 
					 {% endif %}
					{% endfor %}
					<tr {%if persona.stato != 'disponibile'%} class="error" {%endif%} id="persona-{{persona.id}}">
					<td data-title="Nome" class="nome">{{persona}}</td>
					<td data-title="Mansioni" class="mansioni">{% for m in persona.competenze.all %}<span class="badge-mansione">{{m}}</span>  {% endfor %}</td>
					<td data-title="Disponibilita" class="disponibilita">
						<SELECT NAME="stato" class="span7" ONCHANGE="disp(this);" id="sel-{{persona.id}}">
				<OPTION VALUE="{{t.id}}/{{mansione.id}}/{{persona.id}}/-">----
				{%for key,value in DISPONIBILITA %}
				<OPTION VALUE="{{t.id}}/{{mansione.id}}/{{persona.id}}/{{key}}">{{value}}{% endfor%}
				</SELECT>
					</td>
					</tr>

				<script>
				$(document).ready(function() {
					if('disponibile'!='{{persona.stato}}'){
					$("#sel-{{persona.id}}").hide();
					$("#persona-{{persona.id}} td.disponibilita").html("{{persona.get_stato_display}}");
					
					}
					$("#titolo-turno-{{t.id}} .dropdown").hide();
					$('.h6-mansione-{{mansione.id}}').addClass("mansione-sel");
				});
				</script>

				{% endfor%}
			</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}
