
{% extends "base.html" %}
{% load static %}


{% block head %}
	<script src="/static/js/jquery.tablesorter.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets-filter-formatter.min.js"></script>
	<link href="/static/css/theme.bootstrap.css" rel="stylesheet">
{% endblock%}

{% block header %}
		<h4 class="header">
			<a href="/calendario/{{t.calendario.id}}">Calendario</a>
			<i class="icon-angle-right"></i>
			{{t.inizio|date}} ({{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}})
			<i class="icon-angle-right"></i>
			Cerca {{mansione}}
		</h4>
{% endblock %}

{% block main %}

<script type="text/javascript">
function disp(selettore){
	value=selettore.options[selettore.selectedIndex].value;
	classe=selettore.className;
	if (selettore.options[0].value==''){
		selettore.remove(0);}
	dati=value.split("/");
	$('#loading').removeClass('hidden');
	Dajaxice.get2.calendario.disp(Dajax.process,{'turno_id':dati[0],'mansione_id':dati[1],'persona_id':dati[2],'disp':dati[3]});
	
}

function nota_disponibilita(disp_id){
	selettore=$('#note-disp-'+disp_id)
	Dajaxice.get2.calendario.disp_nota(Dajax.process,{'disp_id':disp_id,'nota':selettore.val()});
}
</script>

<div class="row-fluid">
	<div class="span1">
		<div class="box">
			<div class="box-header">
				<h5>Anteprima</h5>
			</div>
			<div class="box-content" id="anteprima" style="padding:0px;">
				{% include "turno.html" %}
				<div style="clear:both;"></div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="box">
			<div class="box-header">
					<h5><i class="icon-search"></i> Cerca persone</h5>
			</div>
			<div class="box-content">
				<table class="table table-striped no-more-tables" id="cerca_persona">
				<thead>
					<tr>
					<th>Nome</th><th>Capacita'</th><th>Telefono</th><th>Disponibilita'</th>
					</tr>
				</thead>
				{%for persona,capacita,disponibilita in disp%}
					
					<tr {%if persona.stato != 'disponibile' %} class="error" {%endif%} id="persona-{{persona.id}}">
					<td data-title="Nome" class="nome">{{persona}}</td>
					<td data-title="Mansioni" class="mansioni">{% for m in capacita %}<span class="badge-mansione">{{m}}</span>  {% endfor %}</td>
					<td data-title="telefono">{{persona.telefono|safe}}</td>
					<td data-title="Disponibilita" class="disponibilita">
					{%if persona.stato = 'disponibile' %}
						{% if disponibilita = 'Impegnato' %}
							Già impegnato
						{% else %}
                                                
							<SELECT NAME="stato" class="span7" ONCHANGE="disp(this);" id="sel-{{persona.id}}">
							{% if disponibilita.mansione != mansione and disponibilita.tipo = 'Disponibile' %}			
								{% if request.user.is_superuser %}
									<OPTION VALUE="{{t.id}}/{{mansione.id}}/{{persona.id}}/-"></option>
								{% endif %}
									<OPTION VALUE="" selected>{{disponibilita.mansione}}</option>
								{%for key,value in DISPONIBILITA %}
									<OPTION VALUE="{{t.id}}/{{mansione.id}}/{{persona.id}}/{{key}}" >{{value}}</option>
								{% endfor%}			
							{% else %}
                                                                 
								{% if request.user.is_superuser %}
									<OPTION VALUE="{{t.id}}/{{mansione.id}}/{{persona.id}}/-"></option>
                                                                {% else %}
                                                                        <OPTION VALUE=""></option>
								{% endif %}
								{%for key,value in DISPONIBILITA %}
									<OPTION VALUE="{{t.id}}/{{mansione.id}}/{{persona.id}}/{{key}}" {% if disponibilita.tipo = key %} selected {% endif %}>{{value}}</option>
								{% endfor%}
							{% endif %}
							</SELECT>
							<div id="disponibilita-{{persona.id}}">
								<div class="input-prepend input-append small">
									<span class="add-on"><i class="icon-comment"></i></span>
									<input id="note-disp-{{disponibilita.id}}" type="text" value="{{disponibilita.note}}">
									<button class="btn" type="button" onclick="nota_disponibilita({{disponibilita.id}});">salva</button>
								</div>
								</br>{{disponibilita.creata_da}} : {{disponibilita.ultima_modifica|date:"d M"}} {{disponibilita.ultima_modifica|time:"H:i"}}
							</div>
						{% endif %}
					{% else %}
						{{persona.get_stato_display }}
					{% endif %}

					</td>
					</tr>
				{% endfor%}
				<script>
				$(document).ready(function() {

					$("#titolo-turno-{{t.id}} .dropdown").hide();
					$('.h6-mansione-{{mansione.id}}').addClass("mansione-sel");
				});
				</script>
			</table>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){

	$("table#cerca_persona").tablesorter({
		textExtraction: {
			3: function(node, table, cellIndex){
				if ( $('select option:selected',node).length>0 ){		
					if ( $('select option:selected',node).text() == ''){
						return 'z';
					}
					else
						return $('select option:selected',node).text();
				}
				else {
					return 'zz'+$(node).html().toString();
				}
			},
		},
		sortList: [[3,0]],
		theme : "bootstrap",widthFixed: true,
		headerTemplate : '{content} {icon}',
		widgets : [ "uitheme", "filter"],
		widgetOptions : {filter_reset : ".reset"}
		});
});
</script>

{% endblock %}
