{% extends "base.html" %}

{% block menu2 %}

<div id="navigazione">
<div class="nav-solo nav"><span class="persone-nav"> Persone</span></div>
</div>
{% endblock %}

{% block main %}

<div class="row-fluid">
	<div class="span7">
		<div class="Informazioni">
		<div class="box">
			<div class="box-header">
				<a href="/impostazioni/mansione/nuovo" class="pull-right btn"><i class="icon-edit"></i> modifica</a>
				<h5>{{persona.nome}} {{persona.cognome}}</h5>
			</div>
			<div class="box-content">
				<table class="table table-striped no-more-tables">
					<thead>
					<tr>
						<th>Utente associato</th>
						<th>Nascita</th>
						<th>Stato</th>
						<th>Competenze</th>
						<th>Telefono principale</th>
						<th>Telefono secondario</th>
						<th>note</th>
					</tr>
					</thead>
					<tr>
						<td data-title="Utente">{{persona.user}}</td>
						<td data-title="Nascita">{{persona.nascita}}</td>
						<td data-title="Stato">{{persona.stato}}</td>
						<td data-title="Competenze">{% for mansione in persona.competenze.all %} 
						<span class="badge-mansione">{{mansione.descrizione}}</span>
						{% endfor %}</td>
						<td data-title="Tel. Principale">{{persona.tel1}}</td>
						<td data-title="tel. secondario">{{persona.tel2}}</td>
						<td data-title="Note">{{persona.note}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}
