{% extends "base.html" %}


{% block header %}
	{% if request.user.is_staff %}
		<h4 class="header">Persone e gruppi</h4>
		
	{% endif %}
{% endblock %}


{% block main %}

<script>
$(document).ready(function(){
	$("#cerca").keyup(function () {
		var testo=$("#cerca").val();
		var mansioni = $.map($('input[name=filtra_mansioni]:checkbox:checked'), function(e,i) {
			return +e.value;
		});
		Dajaxice.get2.calendario.elenco_cerca_persone(Dajax.process,{'testo':testo,'mansioni':mansioni,});
	});
	$.each($("input[name=filtra_mansioni]"), function(){
		$(this).change(function () {
		var testo=$("#cerca").val();
		var mansioni = $.map($('input[name=filtra_mansioni]:checkbox:checked'), function(e,i) {
			return +e.value;
		});
		Dajaxice.get2.calendario.elenco_cerca_persone(Dajax.process,{'testo':testo,'mansioni':mansioni,});
	});
	});
});
</script>

<div class="row-fluid">
	<div class="span7">
		<div class="box">
			<div class="box-header">
				<a href="/persone/gruppo/nuovo" class="btn pull-right"><i class="icon-plus"> </i> Aggiungi gruppo</a>
				<h5><i class="icon-group"></i> Gruppi</h5>
			</div>
			<div class="box-content">
				<table  class="table table-striped no-more-tables" >
				<thead><tr>
				<th>Nome</th><th>Note</th><th>Operazioni</th>
				</tr></thead>
				{% for gruppo in gruppi %}
					<tr id="gruppo-{{gruppo.id}}">
						<td>{{gruppo}} ({{gruppo.numero_componenti}})</td>
						<td>{{gruppo.note}}
						</td>
						<td>
							<div class="btn-group">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-cog"></i> Azioni
								<span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu">
								<li><a href="/persone/gruppo/modifica/{{gruppo.id}}"><i class="icon-edit"></i> modifica</a></li>
								<li><a href="#" onclick='$("#elimina-gruppo-{{gruppo.id}}" ).dialog("open");'><i class="icon-trash"></i> elimina</a></li>
							  </ul>
							</div>
						</td>
					</tr>
				{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>



<div class="row-fluid">
	<div class="span1">
		<div class="box">
			<div class="box-header">
			<a href="#" class="pull-right btn"><i class="icon-refresh"></i></a>
			<h5>Filtra</h5>
			</div>
			<div class="box-content">
				<form class="form-search">
				<fieldset>
				<legend>Nome:</legend>
				<input id="cerca" type="text" class="span7" autocomplete="off" >
				<legend>Mansioni:</legend>
				{%for m in mansioni %}
				 <label class="checkbox" id="filtra-mansioni">
					<input type="checkbox" value="{{m.id}}" name="filtra_mansioni" checked> {{m}}
				</label>
				{% endfor %}
				</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="row-fluid">
			<div class="span7">
				<div class="box">
					<div class="box-header">
						<a href="/persone/nuovo" class="btn pull-right"><i class="icon-plus"> </i> Aggiungi persona</a>
						<h5><i class="icon-user"></i> Persone</h5>
					</div>
					<div class="box-content" id="tabella-persone">
						{% include "persone/tabella_persone.html" %}
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

{% endblock %}
