
{% extends "base.html" %}
{% load static %}
{% load template_filters %}
{% load crispy_forms_tags %}

{% block head %}
	<link href="/static/css/datetimepicker.css" rel="stylesheet">
	<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/js/locales/bootstrap-datetimepicker.it.js"></script>
{% endblock%}

{% block header %}
		<h4 class="header"><a href="/calendario/">Calendario</a> / {{azione}} turno
{% endblock %}


{% block main %}

<script type="text/javascript">
     function ripeti_toggle(){
		if ($('#ripeti').is(":visible")){
			$('#ripeti').slideUp();
			$('input[name=ripeti]').attr('checked', false);
			$('#ripeti-switch i').removeClass('icon-chevron-up');
			$('#ripeti-switch i').addClass('icon-chevron-down');
			
		}
		else {
			$('#ripeti').slideDown();
			$('input[name=ripeti]').attr('checked', true);
			$('#ripeti-switch i').removeClass('icon-chevron-down');
			$('#ripeti-switch i').addClass('icon-chevron-up');
			

		}
     };

window.onload = function() 
{ 
	$(".datetimeinput").datetimepicker({format: 'dd/mm/yyyy hh:ii:ss',autoclose: true,minuteStep: 15,language: 'it'});
	$(".dateinput").datetimepicker({format: 'dd/mm/yyyy',autoclose: true,minView:2,language: 'it'});
	$("#ripeti").hide();
	$('label[for=id_ripeti]').hide();

}; 

</script>
{% if turno.occorrenza %}
<div class="row">
	<div class="span6">
{% endif %}
{% crispy form %}

{% if turno.occorrenza %}
	</div>
	<div class="span1">
		<div class="box">
			<div class="box-header">Occorrenze</div>
			<div class="box-content">
				<div id="occorrenze-{{turno.id}}">
					<ul>
						{% for o in  turno|occorrenze:turno.occorrenza %}
						<li class="occorrenze-{{o|turno_futuro}}">{{o.inizio|date:"d M"}}, {{o.inizio|time:"H:i"}} - {{o.fine|time:"H:i"}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
