
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
	<script src="/static/js/jquery.minicolors.js"></script>
	<link href="/static/css/jquery.minicolors.css" rel="stylesheet">
{% endblock%}

{% block header %}
		<h4 class="header"><a href="/impostazioni/">Impostazioni</a>
		<i class="icon-angle-right"></i>
		{{azione}} mansione
{% endblock %}

{% block main %}
<div style="margin:10px;">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  {% crispy form %}
</div>
{% endblock %}
