
{% extends "base.html" %}
{% load static %}
{% load template_filters %}
{% load crispy_forms_tags %}

{% block head %}
	<link href="/static/css/datetimepicker.css" rel="stylesheet">
	<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/js/locales/bootstrap-datetimepicker.it.js"></script>
{% endblock%}

{% block header %}
		<h4 class="header"><a href="/calendario/">Calendario</a> / {{azione}} turno
{% endblock %}


{% block main %}

<script type="text/javascript">
     function ripeti_toggle(){
		if ($('#ripeti').is(":visible")){
			$('#ripeti').slideUp();
			$('input[name=ripeti]').attr('checked', false);
			$('#ripeti-switch i').removeClass('icon-chevron-up');
			$('#ripeti-switch i').addClass('icon-chevron-down');
			
		}
		else {
			$('#ripeti').slideDown();
			$('input[name=ripeti]').attr('checked', true);
			$('#ripeti-switch i').removeClass('icon-chevron-down');
			$('#ripeti-switch i').addClass('icon-chevron-up');
			

		}
     };

window.onload = function() 
{ 
     $(".datetimeinput").datetimepicker({format: 'dd/mm/yyyy hh:ii:ss',autoclose: true,minuteStep: 15,language: 'it'});
     $(".dateinput").datetimepicker({format: 'dd/mm/yyyy',autoclose: true,minView:2,language: 'it'});
     $("#ripeti").hide();
	$('label[for=id_ripeti]').hide();
     
	{%if not request.user.is_superuser %} 
		$('#id_inizio_0').hide();
		$('#id_tipo').prop('disabled', true);
		jQuery(function($) {
		    $('form').bind('submit', function() {
	        $(this).find(':input').removeAttr('disabled');
		    });
		});
	{% endif %}
}; 

</script>

{% crispy form %}

{% endblock %}
