{% extends "base.html" %}
{% load static %}

{% block title %} Inserimento/Modifica di una persona {% endblock %}	


{% block header %}
		<h4 class="header"><a href="/persone/">Persone</a> / {{azione}} persona
{% endblock %}

{% block main %}

<div style="margin:10px;">
  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}

  {% ifequal azione 'nuovo' %}
  <form action="/persone/nuovo/" method="post">{% csrf_token %}
  {% endifequal %}

  {% ifequal azione 'modifica' %}
  <form action="/persone/modifica/{{ per.id }}/" method="post">{% csrf_token %}
  {% endifequal %}
  <table>
  {{form.as_table}}
  <tr><td></td><td><input type="submit" value="invia" /></td></tr>
  </table>
  </form>    	
  </div>
{% endblock %}
