{% extends "base.html" %}
{% load static %}

{% block title %} Impostazioni {% endblock %}

{% block header %}
		<h4 class="header">Impostazioni</h4>
{% endblock %}

{% block main %}

<script>
var giorni = new Array();
giorni[0] = "Lunedì";
giorni[1] = "Martedì";
giorni[2] = "Mercoledì";
giorni[3] = "Giovedì";
giorni[4] = "Venerdì";
giorni[5] = "Sabato";
giorni[6] = "Domenica";
</script>

<div class="row-fluid">
	<div class="span3">
		<div class="row-fluid">
		<div class="box">
			<div class="box-header">
				<a href="/impostazioni/mansione/nuovo" class="pull-right btn"><i class="icon-plus"></i> aggiungi mansione</a>
				<h5>Mansioni</h5>
			</div>
			<div class="box-content">
				<table class="table table-striped no-more-tables">
					<thead>
						<th>Nome</th><th>Descrizione</th><th>Operazioni</th>
					</thead>
				{% for mansione in mansioni %}
					<tr class="" id="mansione-{{mansione.id}}">
					<td data-title="Nome">{{mansione}}</td>
					<td data-title="Descrizione">{{mansione.descrizione}}</td>
					<td data-title="Operazioni">
						<div class="btn-group">
						  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-cog"></i> Azioni
							<span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu">
							<li><a href="/impostazioni/mansione/modifica/{{mansione.id}}"><i class="icon-edit"></i> modifica</a></li>
							<li><a href="/impostazioni/mansione/elimina/{{mansione.id}}" ><i class="icon-trash"></i> elimina</a></li>
						  </ul>
						</div>
					</td></tr>
				{% endfor %}
				</table>
			</div>
		</div>
		</div>
		<div class="row-fluid">
		<div class="box">
			<div class="box-header">
				<a href="/impostazioni/notifica/nuovo" class="pull-right btn"><i class="icon-plus"></i> aggiungi regola</a>
				<h5>Notifiche</h5>
			</div>
			<div class="box-content">
				<table class="table table-striped no-more-tables">
				<thead>
				<tr>
				<th>Destinatario</th><th>Giorni</th><th>Tipo di turno</th><th>Operazioni</th>
				</tr></thead>
				{% for i in impostazioni_notifica_utente %}
				
					<tr id="impostazioni_notifica_utente-{{i.id}}">
						<td data-title="Utente">{{i.utente}}</td>
						<td data-title="Giorni">
						{% for g in i.giorni %}
							<script>document.write(giorni[{{ g }}]);</script>, 
						{% endfor%} 
						</td>
						<td data-title="Tipo turno">
						{% for t in i.tipo_turno.all %}
						{{t}}, 
						{% endfor%}		
						</td>
						<td data-title="Operazioni">
							<div class="btn-group">
							  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-cog"></i> Azioni
								<span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu">
								<li><a href="/impostazioni/notifica/modifica/{{i.id}}"><i class="icon-edit"></i> modifica</a></li>
								<li><a href="/impostazioni/notifica/elimina/{{i.id}}"><i class="icon-trash"></i> elimina</a></li>
							  </ul>
							</div>
						</td>
					</tr>

				{% endfor %}
				</table>
			</div>
		</div>	
		</div>
	</div>
	<div class="span4">
		<div class="box">
			<div class="box-header">
				<a href="/impostazioni/tipo_turno/nuovo" class="pull-right btn"><i class="icon-plus"></i> aggiungi tipo</a>
				<h5>Tipi di turno</h5>
			</div>
			<div class="box-content">			
					{% for tipo_turno in tipi_turno %}
						 {% include "elenco_tipo_turno/dettagli.html" %}
					{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}
