<div class="sidebar-nav">
<ul class="nav nav-tabs nav-stacked main-menu">
	<li class="calendario">
		<a href="/calendario/">Calendario</a>
	</li>
	<li class="persone staff"><a href="/persone/">Persone</a></li>
	<li class="statistiche user"><a href="/statistiche/">Statistiche</a></li>
	<li class="utenti staff"><a href="/utenti/">Utenti</a></li>
	</li>
	<li class="impostazioni staff"><a href="/impostazioni/">Ipostazioni</a></li>
</ul>
</div>
<script>
	var url="{{request.path}}";
	$("li."+url.split("/")[1]).addClass("active");
</script>

