
<ul class="nav">
	{% for c in calendari %}
		<li class="calendario{{c.id}}"><a href="/calendario/{{c.id}}"><i class="i-menu calendario"></i></br>{{c.nome}}</a></li>
	{% endfor %}
	<li class="persone staff"><a href="/persone/"><i class="i-menu persone"></i></br>Persone</a></li>
	<li class="statistiche user"><a href="/statistiche/"><i class="i-menu statistiche"></i></br>Statistiche</a></li>
	<li class="utenti staff"><a href="/utenti/"><i class="i-menu utenti"></i></br>Utenti</a></li>
	<li class="impostazioni staff"><a href="/impostazioni/"><i class="i-menu impostazioni"></i></br>Impostazioni</a></li>
	<li class="notifiche staff"><a href="/notifiche/">
		{%if request.user.get_profile.notifiche_non_lette > 0 %}
			<span class="badge badge-important" id="notifiche-badge">
			{{request.user.get_profile.notifiche_non_lette}}
			</span>
		{% endif %}
		<i class="i-menu notifiche"></i></br>Notifiche</a>
	 	</li>
</ul>

<script>
	var url="{{request.path}}";
	if (url.split("/")[1]!="calendario") {
		$("li."+url.split("/")[1]).addClass("active"); }
	else {
		$("li."+url.split("/")[1]+url.split("/")[2]).addClass("active"); }
	
</script>

