<div class="row-fluid">
	<div class="span7">
    <ul class="pager">
    <li class="previous">
    <a href="/calendario/{{cal_id}}/settindietro" onclick="$('#loading').removeClass('hidden');"><i class="icon-double-angle-left"></i> Indietro</a>
    </li>
    <li class="previous">
    <a href="/calendario/{{cal_id}}/indietro" onclick="$('#loading').removeClass('hidden');"><i class="icon-angle-left"></i> </a>
    </li> 
    <li> <a href="/calendario/{{cal_id}}/oggi" onclick="$('#loading').removeClass('hidden');"><i class="icon-home"></i> Oggi</a></li>
    <li class="next">
    <a href="/calendario/{{cal_id}}/settavanti" onclick="$('#loading').removeClass('hidden');">Avanti <i class="icon-double-angle-right"></i></a>
    </li>
    <li class="next">
    <a href="/calendario/{{cal_id}}/avanti" onclick="$('#loading').removeClass('hidden');"><i class="icon-angle-right"></i> </a>
    </li>
    </div>
</div>