
{% load template_filters %}
{% with t.turno_disponibilita.all  as alldisp %}

<div class="turno" >
	
	<div class="titolo-turno titolo-turno-{{t.coperto}}">
		{{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}
		{% if t.identificativo %}
		 </br>{{t.identificativo}}

		{% endif %}
	</div>

	{% for r in t.cache_requisito_set.all %}
		{% if r.requisito.clickabile  %}

				<b class="mansione">{{r.requisito.mansione}} </b> 
				<div class="persone">
					{% for d in r.disponibilita.all %}
					 				{{d.persona}}</br>
					{% endfor %}	
					{% for x in t|posti_liberi:r %}
					_ _ _ _ _ _ _ <br>
					{% endfor %}
				</div>
		{% endif %}

	{% endfor %}


</div>


{% endwith %}