{% extends "base.html" %}
{% load static %}

{% block head %}
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.js"></script>
	<script language="javascript" type="text/javascript" src="/static/js/flot/jquery.flot.pie.js"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
{% endblock %}

{% block header %}
		<h4 class="header">Statistiche</h4>
{% endblock %}


{% block main %}

<!--
 <script>
$(function() {
 $( "#from" ).datepicker({
 defaultDate: "-1m",
 changeMonth: true,
 numberOfMonths: 3,
 dateFormat: "dd/mm/yy",
 maxDate: "-1D",
 onClose: function( selectedDate ) {
 $( "#to" ).datepicker( "option", "minDate", selectedDate );
 }
 });
 $( "#to" ).datepicker({
 defaultDate: "+1D",
 changeMonth: true,
 numberOfMonths: 3,
 dateFormat: "dd/mm/yy",
 maxDate: "-1D",
 onClose: function( selectedDate ) {
 $( "#from" ).datepicker( "option", "maxDate", selectedDate );
 }
 });
});
</script>
-->


<script>
function aggiorna_statistiche(){
	Dajaxice.get2.calendario.aggiorna_statistiche(Dajax.process,{'da':$("#from").val(),'al':$("#to").val()});
}
</script>
<div class="row-fluid">
	<div class="span1">
		<div class="box">
			<div class="box-header">
				<a href="#" class="pull-right btn"><i class="icon-refresh"></i></a>
				<h5><i class="icon-cog"></i> Intervallo</h5>
			</div>
			<div class="box-content">
				<fieldset>
				<label for="from">Inizio</label>
				<input type="text" id="from" name="from" class="span5"/> 
				<label for="to">Fine</label>
				<input type="text" id="to" name="to"  class="span5"/>
				<input type="button" value="Applica" class="btn" onclick="aggiorna_statistiche()"/>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="span6">
		{% include "statistiche/statistiche.html" %}
	</div>
</div>
{% endblock %}
