
{% load template_filters %}
{% with t.turno_disponibilita.all  as alldisp %}

<div class="turno span7 {{forloop.counter}}" id="turno-{{t.id}}" >
	
	<div class="titolo-turno titolo-turno-{{t.coperto}}" id="titolo-turno-{{t.id}}"
	{% if request.user.get_profile and  not request.user.is_staff %} onclick="Dajaxice.get2.calendario.mansioni_disponibili(Dajax.process,{'turno_id':{{t.id}}}); $('#disponibilita-turno-{{t.id}}').modal('show');"
	{% endif %}
	>
		<h5><i class="icon-time icon-white"></i> {{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}</h5>
		{% if t.identificativo %}
		<h6> {{t.identificativo}}</h6>

		{% endif %}

		{%if request.user.is_staff %}
			<div class="dropdown edit-turno">
				<a data-toggle="dropdown" class="dropdown-toggle pull-right " id="modifica-turno-{{t.id}}">
					<i class="visible-phone icon-edit icon-2x" style="color:white"></i>
					<i class="hidden-phone icon-edit" style="color:white"></i>
				</a>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
					<li><a href="/turno/modifica/{{t.id}}">Modifica</a></li>
					<li><a href="#" onclick="Dajaxice.get2.calendario.elimina_turno(Dajax.process,{'turno_id':{{t.id}}});">Elimina</a></li>
				</ul>
			</div>
			<div class="dropdown gruppo-turno">
				<a data-toggle="dropdown" class="dropdown-toggle pull-right " id="gruppo-turno-{{t.id}}">
					<i class="visible-phone icon-group icon-2x" style="color:white"></i>
					<i class="hidden-phone icon-group" style="color:white"></i>
				</a>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
					{%for g in gruppi%}
						<li><a href="/disponibilita_gruppo/{{t.id}}/{{g.id}}">{{g}}</a></li>
					{%endfor%}
				</ul>
			</div>
		{% endif %}
	</div>

	{% for r in t.cache_requisito_set.all %}

			{%if request.user.is_staff %}
				<div class="mansione-calendario">
					<h6 class="h6-mansione-{{r.requisito.mansione.id}}">{{r.requisito.mansione}} 
					{% if r.requisito.extra %}<i class="icon-asterisk"></i> {% endif %}
					{% if request.user.is_staff and r.requisito.clickabile %}
						<a href="/cerca_persona/{{t.id}}/{{r.requisito.mansione.id}}">
					{% endif %}
					{% if r.requisito.sufficiente %}
						<span class="badge badge-info pull-right">
					{% elif not r.requisito.necessario %}
						<span class="badge  pull-right">
					{% elif r.verificato  %}
						<span class="badge badge-success pull-right">
					{% else %}
						<span class="badge badge-important pull-right">
					{% endif %}
					{% if r.requisito.minimo != 0 %}
						&ge;{{r.requisito.minimo}}
					{% endif %}
					{% if r.requisito.massimo != 0 %}
						&le;{{r.requisito.massimo}}
					{% endif %}
					</span></a></h6> 
				</div>
			{% endif %}
				<div class="persone persone-requisito-{{r.requisito.mansione.id}}">
					<ul>
					
					{% for d in r.disponibilita.all %}
							<li class="persona-turno {% if not r.requisito.clickabile %} hide {%endif%}" >
                                                        <i class="persona-mansione-turno {{d.mansione.icona}}" style="color:{{d.mansione.colore}}"
                                                           {% if js_personalizzato == "croce_verde.js" %}
                                                                {%if "6" in d.persona.capacita %}
                                                                    <i class="icon-ambulance"></i>
                                                                {%endif%}
                                                            {% endif %}
                                                        ></i>

                                                        {% if request.user.is_authenticated or touch == "yes" %}
					 				{{d.persona}}
					 				{% if d.note %}
					 					<i class="tp icon-comment" data-toggle="tooltip" title="{{d.note}}"></i>
					 				{% endif %}
								{% else %}
					 				----
								{% endif %}
							</li>

					{% endfor %}
					
					</ul>
				</div>
	{% endfor %}

		
	<div id="altre-mansioni-{{t.id}}" class="mansione-calendario hide">
		<h6>Altre mansioni</h6>
	</div>
	<div class="persone">
		<ul>
	{% for disp in alldisp %}
		{% if disp.mansione not in t.mansioni and disp.tipo = 'Disponibile' %}
		<script>$('#altre-mansioni-{{t.id}}').removeClass('hide');</script>
			<li class="persona-turno">
				{% if request.user.is_authenticated or touch == "yes" %}
	 				{{disp.persona}}
				{% else %}
	 				----
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
		</ul>
	</div>
	<div class="footer-turno">
		{{t.tipo}}
	</div>

</div>

{% if request.user.is_staff %}
<div id="elimina-turno-{{t.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	
</div>
{% endif %}

{% if request.user.get_profile and  not request.user.is_staff %}

<div id="disponibilita-turno-{{t.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		{% if t|turno_intervallo_disponibilita:request.user.get_profile %}
		<h4>turno del {{t.inizio|date:"d M"}}, ore {{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}</h4>
		{% endif %}
	</div>
	<div class="modal-body">
				<i class="icon-spinner icon-spin icon-2x"></i>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Annulla</button>
	</div>
</div>
{% endif %}
{% endwith %}