
{% load template_filters %}
<script>
	$(document).ready(function(){
		$(".tp").tooltip();
	});
</script>

<div class="turno span7 {{forloop.counter}} {{t.inizio|time:"H"}}-{{t.fine|time:"H"}}" id="turno-{{t.id}}" >
	
	<div class="titolo-turno titolo-turno-{{t.coperto}}" id="titolo-turno-{{t.id}}"
	{% if request.user.get_profile and  not request.user.is_staff %} onclick="Dajaxice.get2.calendario.mansioni_disponibili(Dajax.process,{'turno_id':{{t.id}}}); $('#disponibilita-turno-{{t.id}}').modal('show');"
	{% endif %}
	>
		<h5><i class="icon-time icon-white"></i> {{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}</h5>
		{% if t.identificativo %}
		<h6> {{t.identificativo}}</h6>

		{% endif %}

		{%if request.user.is_staff %}
			<div class="dropdown edit-turno">
				<a data-toggle="dropdown" class="dropdown-toggle pull-right " id="modifica-turno-{{t.id}}">
					<i class="visible-phone icon-edit icon-2x" style="color:white"></i>
					<i class="hidden-phone icon-edit" style="color:white"></i>
				</a>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
					<li><a href="/turno/modifica/{{t.id}}">Modifica</a></li>
					<li><a href="#elimina-turno-{{t.id}}" data-toggle="modal">Elimina</a></li>
				</ul>
			</div>
			<div class="dropdown gruppo-turno">
				<a data-toggle="dropdown" class="dropdown-toggle pull-right " id="gruppo-turno-{{t.id}}">
					<i class="visible-phone icon-group icon-2x" style="color:white"></i>
					<i class="hidden-phone icon-group" style="color:white"></i>
				</a>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
					{%for g in gruppi%}
						<li><a href="/disponibilita_gruppo/{{t.id}}/{{g.id}}">{{g}}</a></li>
					{%endfor%}
				</ul>
			</div>
		{% endif %}
	</div>	
	{% for requisito in t.tipo.req_tipo_turno.all %}
		{% if requisito.clickabile  %}
			{%if request.user.is_staff %}	
				<div class="mansione-calendario">
					<h6 class="h6-mansione-{{requisito.mansione.id}}">{{requisito.mansione}} 
					
						{% if request.user.is_staff %}
							<a href="/cerca_persona/{{t.id}}/{{requisito.mansione.id}}">
						{% endif %}
					{% if requisito.sufficiente %}
						<span class="badge badge-info pull-right">
					{% elif not requisito.necessario %}
						<span class="badge  pull-right">
					{% elif t|verifica_requisito:requisito  %}
						<span class="badge badge-success pull-right">
					{% else %}
						<span class="badge badge-important pull-right">
					{% endif %}
						{% if requisito.minimo != 0 %}
							&ge;{{requisito.minimo}}
						{% endif %}
						{% if requisito.massimo != 0 %}
							&le;{{requisito.massimo}}
						{% endif %}
					</span></a></h6> 
				</div>
			{% endif %}
				<div class="persone">
					<ul>
					{% for disp in t.turno_disponibilita.all %}
						{% if disp.mansione = requisito.mansione and disp.tipo = 'Disponibile' %}
							<li class="persona-turno"><i class="{{disp.mansione.icona}}" style="color:{{disp.mansione.colore}}"></i> 
								{% if request.user.is_authenticated or touch == "yes" %}
					 				{{disp.persona}} {% if disp.note %}<i class="tp icon-comment" data-toggle="tooltip" title="{{disp.note}}"></i>{% endif %}
								{% else %}
					 				----
								{% endif %}
							</li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
		{% endif %}
		{% if  not requisito.clickabile  and request.user.is_staff %}
				<div class="mansione-calendario">
					<h6 class="h6-mansione-{{requisito.mansione.id}}">
					
					{% if requisito.extra %}<i class="icon-asterisk"></i> {% endif %}

					{{requisito.mansione}}
					{% if t|verifica_requisito:requisito  %}
						<span class="badge badge-success pull-right">
					{% else %}
						<span class="badge badge-important pull-right">
					{% endif %}
						{% if requisito.minimo != 0 %}
							&ge;{{requisito.minimo}}
						{% endif %}
						{% if requisito.massimo != 0 %}
							&le;{{requisito.massimo}}
						{% endif %}
					</span>
					</h6>
				</div>
		{% endif %}
	{% endfor %}

		
	<div id="altre-mansioni-{{t.id}}" class="mansione-calendario hide">
		<h6>Altre mansioni</h6>
	</div>
	<div class="persone">
		<ul>
	{% for disp in t.turno_disponibilita.all %}
		{% if disp.mansione not in t.mansioni and disp.tipo = 'Disponibile' %}
		<script>$('#altre-mansioni-{{t.id}}').removeClass('hide');</script>
			<li class="persona-turno">
				{% if request.user.is_authenticated or touch == "yes" %}
	 				{{disp.persona}}
				{% else %}
	 				----
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
		</ul>
	</div>
	<div class="footer-turno">
		{{t.tipo}}
	</div>

</div>

{% if request.user.is_staff %}
<div id="elimina-turno-{{t.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
		<div class="alert alert-error">
			<h5><i class="icon-warning-sign icon-2x"></i> Vuoi eliminare il turno del {{t.inizio|date:"d M"}}, ore {{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}?</h5>
			{% if t.occorrenza %}
				<span onclick="Dajaxice.get2.calendario.occorrenze(Dajax.process,{'occ_id':{{t.occorrenza.id}},'turno_id':{{t.id}}});">Il turno fa parte di una occorrenza <i class="icon-chevron-down"></i></span>
				<ul>
				<div id="occorrenze-{{t.id}}" class="hide"></div>
				</ul>
			{% endif %}</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Annulla</button>
		<div class="btn-group">
		  <a href="/turno/elimina/{{t.id}}"  class="btn btn-primary">Elimina Turno</a>
			{% if t.occorrenza %}<button class="btn  btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>{% endif %}
		  </button>
		  {% if t.occorrenza %}
		  <ul class="dropdown-menu">
			<li><a href="/turno/elimina_occorrenza/{{t.occorrenza.id}}">Elimina turno e tutte le successive occorrenze</a></li>
			{% if request.user.is_superuser %}
			<li><a href="/turno/elimina_occorrenza_tot/{{t.occorrenza.id}}">Elimina turno e TUTTE le occorrenze</a></li>
			{% endif %}
		  </ul>
		  {% endif %}
		</div>
	</div>
</div>
{% endif %}

{% if request.user.get_profile and  not request.user.is_staff %}

<div id="disponibilita-turno-{{t.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		{% if t|turno_intervallo_disponibilita:request.user.get_profile %}
		<h4>turno del {{t.inizio|date:"d M"}}, ore {{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}</h4>
		{% endif %}
	</div>
	<div class="modal-body">
		{% if t|turno_intervallo_disponibilita:request.user.get_profile %}
			{% if not request.user.get_profile|gia_disponibile:t %}
				<legend>Seleziona la mansione che vuoi ricoprire:</legend>
				<div id="mansioni-turno{{t.id}}">
				<i class="icon-spinner icon-spin icon-2x"></i>
				</div>
			{% else %}
				Vuoi cancellarti dal turno del {{t.inizio|date:"d M"}}, ore {{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}?
			{% endif %}
		{% else %}
			Non puoi modificare la tua disponibilita per questo turno:</br>
			<span class="emblem-important">{{t|errore_turno_intervallo_disponibilita:request.user.get_profile}}</span>
			<hr>
			{{t.tipo.msg_errore|safe}}
		{% endif %}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Annulla</button>
		{% if t|turno_intervallo_disponibilita:request.user.get_profile %}
			{% if not request.user.get_profile|gia_disponibile:t %}
				<script>
					function disponibilita_{{t.id}}(mansione){
						persona="{{request.user.get_profile.id}}"
						if (mansione!=""){url="/disponibilita/{{t.id}}/" +mansione+ "/" +persona+ "/Disponibile/";}
						window.location = url;}
				</script>
			{% else %}
				<script>
					function disponibilita_{{t.id}}(){
						var url="/rimuovi_disponibilita/{{request.user.get_profile|gia_disponibile:t.id}}";
						window.location = url;}
				</script>
				<button class="btn btn-primary" type="button" onclick="disponibilita_{{t.id}}();">Rimuovi disponibilita'</button>
			{% endif %}
		{% else %}
			
		{% endif %}
	</div>
</div>
{% endif %}
