
{% load template_filters %}


<div class="turno span7" id="turno-{{t.id}}" >
	
	<div class="titolo-turno titolo-turno-{{t.coperto}}" id="titolo-turno-{{t.id}}">
		
		<h5><i class="icon-time icon-white"></i> {{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}</h5>
		{% if t.identificativo %}
		<h6> {{t.identificativo}}</h6>
		{% endif %}
		{%if request.user.is_staff %}
			<div class="dropdown edit-turno">
				<a data-toggle="dropdown" class="dropdown-toggle pull-right " id="modifica-turno-{{t.id}}">
					<i class="visible-phone icon-edit icon-2x" style="color:white"></i>
					<i class="hidden-phone icon-edit" style="color:white"></i>
				</a>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
					<li><a href="/calendario/turno/modifica/{{t.id}}">Modifica</a></li>
					<li><a href="#elimina-turno-{{t.id}}" data-toggle="modal">Elimina</a></li>
				</ul>
			</div>
			<div class="dropdown gruppo-turno">
				<a data-toggle="dropdown" class="dropdown-toggle pull-right " id="gruppo-turno-{{t.id}}">
					<i class="visible-phone icon-group icon-2x" style="color:white"></i>
					<i class="hidden-phone icon-group" style="color:white"></i>
				</a>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
					{%for g in gruppi%}
						<li><a href="/calendario/disponibilita_gruppo/{{t.id}}/{{g.id}}">{{g}}</a></li>
					{%endfor%}
				</ul>
			</div>
		{% endif %}
	</div>

	{% for requisito in t.tipo.req_tipo_turno.all %}
		{% if not requisito.extra %}
			<div class="mansione-calendario">
				<h6 class="h6-mansione-{{requisito.mansione.id}}">{{requisito.mansione}}
				{% if not requisito.operatore = "=" or not t|verifica_requisito:requisito  or not requisito.necessario %}
					{% if request.user.is_staff %}
						<a href="/calendario/cerca_persona/{{t.id}}/{{requisito.mansione.id}}">
					{% endif %}
				{% endif %}
				{% if requisito.sufficiente %}
					<span class="badge badge-info pull-right">
				{% elif not requisito.necessario %}
					<span class="badge  pull-right">
				{% elif t|verifica_requisito:requisito  %}
					<span class="badge badge-success pull-right">
				{% else %}
					<span class="badge badge-important pull-right">
				{% endif %}
				{{requisito.operatore}} {{requisito.valore}}</span></a></h6> 
			</div>
			<div class="">
				<ul>
				{% for disp in t.turno_disponibilita.all %}
					{% if disp.mansione = requisito.mansione and disp.tipo = 'Disponibile' %}
						<li class="persona-turno"><i class="icon-user"></i> {{disp.persona}}<a href="/calendario/rimuovi_disponibilita/{{disp.id}}"></a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		{% endif %}
		{% if requisito.extra %}
			<div class="mansione-calendario">
				<h6 class="h6-mansione-{{requisito.mansione.id}}"><i class="icon-asterisk"></i> {{requisito.mansione}}
				<span class="badge badge-warning pull-right"> {{requisito.operatore}} {{requisito.valore}}</span></h6>
			</div>
		{% endif %}
	{% endfor %}
	<div id="altre-mansioni-{{t.id}}" class="mansione-calendario hide">
		<h6>Altre mansioni</h6>
	</div>
	<div class="">
		<ul>
	{% for disp in t.turno_disponibilita.all %}
		{% if disp.mansione not in t.mansioni and disp.tipo = 'Disponibile' %}
		<script>$('#altre-mansioni-{{t.id}}').removeClass('hide');</script>
			<li class="persona-turno"><i class="icon-user"></i> {{disp.persona}}<a href="/calendario/rimuovi_disponibilita/{{disp.id}}"><i class="icon-remove"></i> </a></li>
		{% endif %}
	{% endfor %}
		</ul>
	</div>
	<div class="footer-turno">
		{{t.tipo}}
	</div>

</div>

<div id="elimina-turno-{{t.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-body">
		<div class="alert alert-error">
			<h5><i class="icon-warning-sign icon-2x"></i> Vuoi eliminare il turno del {{t.inizio|date:"d M"}}, ore {{t.inizio|time:"H:i"}} - {{t.fine|time:"H:i"}}?</h5>
			{% if t.occorrenza %}
				<span class="emblem-generic" onclick="$('#occorrenze-{{t.id}}').slideDown()">Il turno fa parte di una occorrenza</span>
				<div id="occorrenze-{{t.id}}"><ul>		
				{% for o in t|occorrenze:t.occorrenza %}
					<li class="occorrenze-{{o|turno_futuro}}">{{o.inizio|date:"d M"}}, ore {{o.inizio|time:"H:i"}} - {{o.fine|time:"H:i"}}</li>
				{% endfor %}
				</ul></div>
			{% endif %}</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Annulla</button>
		<div class="btn-group">
		  <a href="/calendario/turno/elimina/{{t.id}}"  class="btn btn-primary">Elimina Turno</a>
			{% if t.occorrenza %}<button class="btn  btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span>{% endif %}
		  </button>
		  {% if t.occorrenza %}
		  <ul class="dropdown-menu">
			<li><a href="/calendario/turno/elimina_occorrenza/{{t.occorrenza.id}}">Elimina turno e tutte le successive occorrenze</a></li>
			<li><a href="/calendario/turno/elimina_occorrenza_tot/{{t.occorrenza.id}}">Elimina turno e TUTTE le occorrenze</a></li>
		  </ul>
		  {% endif %}
		</div>
	</div>
</div>
