{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
	<script src="/static/js/highcharts/highcharts.js"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
	<link href="/static/css/datetimepicker.css" rel="stylesheet">
	<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/static/js/locales/bootstrap-datetimepicker.it.js"></script>
	<script src="/static/js/jquery.tablesorter.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets-filter-formatter.min.js"></script>
	<link href="/static/css/theme.bootstrap.css" rel="stylesheet">
{% endblock%}


{% block header %}
		<h4 class="header">Statistiche</h4>
{% endblock %}


{% block main %}

<script>
function aggiorna_statistiche(){
	mansioni = "";
	$('.mansioni:checkbox').each(function() {if (this.checked) {
        mansioni = mansioni + '_' + this.value;
    }});
    mansioni = mansioni.substr(1);
    if (mansioni==""){alert("seleziona almeno una mansione!"); return;} 		
    gruppi = "";
	$('.gruppi:checkbox').each(function() {if (this.checked) {
        gruppi = gruppi + '_' + this.value;
    }});
    gruppi = gruppi.substr(1);
    if (gruppi==""){alert("seleziona almeno un gruppo!"); return;} 
	Dajaxice.statistiche.aggiorna_statistiche(Dajax.process,{'da':$("#id_start").val(),'al':$("#id_stop").val(),'mansioni':mansioni,'gruppi':gruppi});

};

window.onload = function() 
{ 
	$(".datetimeinput").datetimepicker({format: 'dd/mm/yyyy hh:ii:ss',autoclose: true,minuteStep: 15,language: 'it'});
	$(".dateinput").datetimepicker({format: 'dd/mm/yyyy',autoclose: true,minView:2,language: 'it'});
};

function reset(){
	$("#id_start").val('');
	$("#id_stop").val('');
	$('.mansioni').prop('checked',true);
	$('.gruppi').prop('checked',true);
	Dajaxice.statistiche.aggiorna_statistiche(Dajax.process,{'da':'0','al':'0','mansioni':'all','gruppi':'all'});
};
</script>

<div class="row-fluid">
	<div class="span1">
{% comment %} 		<div class="box">
			<div class="box-header">
				<a href="#" class="pull-right btn" onclick="reset()" ><i class="icon-refresh"></i></a>
				<h5><i class="icon-cog"></i> Intervallo</h5>
			</div>
			<div class="box-content">
				<fieldset>
				<label for="from">Inizio</label>
				<div class="input-append">
					<input type="text" id="from" name="from" class="span4 dateinput"/>
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				<label for="to">Fine</label>
				<div class="input-append">
					<input type="text" id="to" name="to"  class="span4 dateinput"/>
					<span class="add-on"><i class="icon-calendar"></i></span>
				</div>
				<input type="button" value="Applica" class="btn" onclick="aggiorna_statistiche()"/>
				</fieldset>
			</div>
		</div> {% endcomment %}
		<div class="box">
			<div class="box-header">
				<h5><i class="icon-filter"></i> Filtra:</h5>
			</div>
			<div class="box-content">
				{% crispy FiltroStatistiche %}
			</div>
		</div>
	</div>
	<div class="span6" id="stat">
		{% include "statistiche/statistiche.html" %}
	</div>
</div>
{% endblock %}
