{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
	<script src="/static/js/highcharts/highcharts.js"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
	<script src="/static/js/jquery.tablesorter.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets.min.js"></script>
	<script src="/static/js/jquery.tablesorter.widgets-filter-formatter.min.js"></script>
	<link href="/static/css/theme.bootstrap.css" rel="stylesheet">
	<script src="/static/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-daterangepicker/moment.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-daterangepicker/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="/static/js/bootstrap-daterangepicker/daterangepicker-bs2.css" />
{% endblock%}


{% block header %}
		<h4 class="header">Statistiche</h4>
{% endblock %}


{% block main %}

<script>
function aggiorna_statistiche(){
	mansioni = "";
	$('.mansioni:checkbox').each(function() {if (this.checked) {
        mansioni = mansioni + '_' + this.value;
    }});
    mansioni = mansioni.substr(1);
    if (mansioni==""){alert("seleziona almeno una mansione!"); return;} 		
    gruppi = "";
	$('.gruppi:checkbox').each(function() {if (this.checked) {
        gruppi = gruppi + '_' + this.value;
    }});
    gruppi = gruppi.substr(1);
    if (gruppi==""){alert("seleziona almeno un gruppo!"); return;}
    $('#loading').removeClass('hidden');
	Dajaxice.statistiche.aggiorna_statistiche(Dajax.process,{'da':$("#id_start").val(),'al':$("#id_stop").val(),'mansioni':mansioni,'gruppi':gruppi});

};

function dettagli_statistiche(id){
	mansioni = "";
	$('.mansioni:checkbox').each(function() {if (this.checked) {
        mansioni = mansioni + '_' + this.value;
    }});
    mansioni = mansioni.substr(1);
	Dajaxice.statistiche.dettaglio_turni(Dajax.process,{'da':$("#id_start").val(),'al':$("#id_stop").val(),'mansioni':mansioni,'id':id});
}

function generali(){
	Dajaxice.statistiche.statistiche_generali(Dajax.process,{'da':$("#id_start").val(),'al':$("#id_stop").val()});
}


function reset(){
	$("#id_start").val('');
	$("#id_stop").val('');
	$('.mansioni').prop('checked',true);
	$('.gruppi').prop('checked',true);
	$('#loading').removeClass('hidden');
	Dajaxice.statistiche.aggiorna_statistiche(Dajax.process,{'da':'0','al':'0','mansioni':'all','gruppi':'all'});
};
</script>

<div class="row-fluid">
	<div class="span5" id="filtri">
		<div class="box">
			<div class="box-content hide" id="filtro_statistiche">
				{% crispy FiltroStatistiche %}
			</div>
		</div>
	</div>
	<div class="span2">
		<div id="reportrange" class="pull-right btn" style="margin-right:10px; cursor: pointer;">
            <i class="icon-calendar icon-large"></i>
                <span></span> <b class="caret"></b>
        </div>
        <span class="pull-right btn" onclick="$('#filtro_statistiche').slideToggle();" style="margin-right:10px; cursor: pointer;"><i class="icon-filter"></i> Filtra</span>
	</div>
</div>
<div class="row-fluid">
	<div class="span7 tabbable" id="stat" style="padding:10px;">
		{% include "statistiche/statistiche.html" %}
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#reportrange').daterangepicker(
		{
		startDate: moment().subtract('years', 1),
		endDate: moment(),
		minDate: moment().subtract('years', 5),
		maxDate: moment(),
		//dateLimit: { days: 60 },
		showDropdowns: true,
		showWeekNumbers: false,
		timePicker: false,
		timePickerIncrement: 1,
		timePicker12Hour: true,
		ranges: {
		   'Ultimi 7 giorni': [moment().subtract('days', 6), moment()],
		   'Ultimi 30 giorni': [moment().subtract('days', 29), moment()],
		   'Questo Mese': [moment().startOf('month'), moment().endOf('month')],
		   'Ultimi 6 mesi': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
		},
		opens: 'left',
		buttonClasses: ['btn btn-default'],
		applyClass: 'btn-small btn-primary',
		cancelClass: 'btn-small',
		format: 'DD/MM/YYYY',
		separator: ' to ',
		locale: {
		    applyLabel: 'Invia',
		    fromLabel: 'Dal',
		    toLabel: 'Al',
		    customRangeLabel: 'Scegli Intervallo',
		    daysOfWeek: ['Dom', 'Lun', 'Mar', 'Mer', 'Gio', 'Ven','Sab'],
		    monthNames: ['Gennaio', 'Febbraio', 'Marzo', 'Aprile', 'Maggio', 'Giugno', 'Luglio', 'Agosto', 'Settembre', 'Ottobre', 'Novembre', 'Dicembre'],
		    firstDay: 1
		}
		},
		function(start, end) {
		console.log("Callback has been called!");
		$('#reportrange span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
		$("#id_start")[0].value = start.format('D/M/YYYY');
		$("#id_stop")[0].value = end.format('D/M/YYYY');
		aggiorna_statistiche();
		}
		);
		//Set the initial state of the picker label
		$('#reportrange span').html(moment().subtract('years', 1).format('D MMMM, YYYY') + ' - ' + moment().format('D MMMM, YYYY'));
		$("#id_start")[0].value = moment().subtract('years', 1).format('D/M/YYYY');
		$("#id_stop")[0].value = moment().format('D/M/YYYY');
	});
</script>


{% endblock %}
